														#set($canEditRead = false)

							#foreach($ed in $data.getSession().getAttribute("user").getEditableElementDisplays())

							  #if($ed.getElementName().equals("cnda:radiologyReadData"))

							  							  #set($canEditRead = true)

							  #end

							#end

#if($om.getMinimalLoadAssessors().size()>0)
 <br/>
					 <STYLE>
 th.padded{padding-top:0px; padding-right:20px; padding-bottom:0px; padding-left:5px;}
 </STYLE>
 <table>
 <tr>
  	<td colspan=2>
   		#if ($mr.getMinimalLoadAssessors("cnda:radiologyReadData").size() > 0)<BR>
   		#set($radRead = $mr.getRadRead())
  		  <font face="$ui.sansSerifFonts" size="3"><b>Radiologic Evaluation</b></font><BR><BR>
    			<table>
				     <tr>
					      <th NOWRAP width="20%" align="left" class="padded">Reader:</td>
      					<td NOWRAP width="30%" align="left" class="padded">$!radRead.getProperty("reader")</td>
      					<th NOWRAP width="20%" align="left" class="padded">Status:</td>
					      <td NOWRAP width="30%" align="left" class="padded">$!radRead.StatusText</td>
				     </tr>
     				<tr>
      					<th NOWRAP align="left" class="padded">Technique:</td>
					      <td colspan="3" align="left" class="padded">$!radRead.getProperty("technique")</td>
				     </tr>
     				<tr>
      					<th NOWRAP align="left" class="padded">Finding:</td>
					      <td colspan="3" align="left" class="padded">$!radRead.getStringProperty("finding")</td>
				     </tr>
     				<tr>
					      <th NOWRAP align="left" class="padded">Diagnosis:</td>
					      <td colspan="3" class="padded">$!radRead.getStringProperty("diagnosis")</td>
				     </tr>
					 #set ($followup_recommended = $!radRead.getStringProperty("followup_recommended"))
					 #if ($followup_recommended != "")
					 <tr>
					      <th NOWRAP align="left" class="padded">Recommend Further Evaluation:</td>
					      <td colspan="3" class="padded">#if ($followup_recommended.equals("0")) false #elseif ($followup_recommended.equals("1")) true #end</td>
				     </tr>
					#end
			    </table>
		   #end
  	</td>
 </tr>
  <tr>
   	<td colspan=2>
    		#if ($workflows.size() > 0)<BR>
    		#set ($qc="'")
    		#set ($has64 = "0")
		#set ($has32 = "0")
		#set ($status="Complete")
    		#set ($fs_64_pipeline="/StdFreeSurferBuild_64.xml")
   		#set ($fs_32_pipeline="/StdFreeSurferBuild.xml")
   		#set ($fs_32_legacy_pipeline="/StdBuild.xml")

		#set ($mrid=$om.getId())
    		#foreach( $workflow in $workflows ) 
			#if ($workflow.getPipelineName().endsWith($fs_32_pipeline) && $workflow.getStatus().equalsIgnoreCase($status)) 
			   #set($has32="1")	
			#end
			#if ($workflow.getPipelineName().endsWith($fs_32_legacy_pipeline) && $workflow.getStatus().equalsIgnoreCase($status)) 
			   #set($has32="1")	
			#end
			#if ($workflow.getPipelineName().endsWith($fs_64_pipeline) && $workflow.getStatus().equalsIgnoreCase($status))
			   #set($has64="1")	
			#end

		#end
    		
    		#if ($has64=="0" && $has32=="1")
   		  <font face="$ui.sansSerifFonts" size="3"><b>Freesurfer</b></font> &nbsp; &nbsp;&nbsp;<a href="" onclick="return popupWithProperties(${qc}$link.setPage('FreesurferQC.vm').addPathInfo('search_value',$om.getId()).addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID')$qc,'','width=950,height=600,status=yes,resizable=yes,scrollbars=yes')" >View QC</a><BR><BR>
                 #elseif ($has64=="1" && $has32=="1")
 		  <font face="$ui.sansSerifFonts" size="3"><b>Freesurfer</b></font> &nbsp; &nbsp;&nbsp;<a href="" onclick="return popupWithProperties(${qc}$link.setPage('FreesurferQC.vm').addPathInfo('search_value',$om.getId()).addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID')$qc,'','width=950,height=600,status=yes,resizable=yes,scrollbars=yes')" >View QC</a>&nbsp;&nbsp;&nbsp;<a href="" onclick="return popupWithProperties(${qc}$link.setPage('FreesurferQC_64.vm').addPathInfo('search_value',$om.getId()).addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID')$qc,'','width=950,height=600,status=yes,resizable=yes,scrollbars=yes')" >View 64 bit QC</a><BR><BR>
                 #elseif ($has64=="1" && $has32=="0")
 		  <font face="$ui.sansSerifFonts" size="3"><b>Freesurfer</b></font> &nbsp; &nbsp;&nbsp;<a href="" onclick="return popupWithProperties(${qc}$link.setPage('FreesurferQC_64.vm').addPathInfo('search_value',$om.getId()).addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID')$qc,'','width=950,height=600,status=yes,resizable=yes,scrollbars=yes')" >View 64 bit QC</a><BR><BR>
                 #end
                #end
   	</td>
 </tr>
 <tr>
  	<td colspan=2>
   	#if (($mr.getMinimalLoadAssessors("cnda:atlasScalingFactorData").size() > 0) || ($mr.getMinimalLoadAssessors("cnda:segmentationFastData").size() > 0))
	  	 <BR>
		   <font face="$ui.sansSerifFonts" size="3" NOWRAP><b>Anatomic Evaluation</b></font><BR><BR>
   <table width="100%">
    			<tr>
     				<th align="left" width="10%" class="padded">					eTIV: 				</th>
				     <td align="left" class="padded" NOWRAP>
					#if ($mr.getMinimalLoadAssessors("cnda:atlasScalingFactorData").size() > 0)
						#set ($asf = $mr.Asf )
						$!asf.EicvDisplay (ASF:$!asf.ScalingfactorDisplay, ETA:$!asf.EtaDisplay)
					#else
						N/A
					#end
				     </td>
			    </tr>
		    <tr>
     				<th align="left" class="padded">					nWBV: 				</th>
				     <td align="left" class="padded" NOWRAP>
					#if ($mr.getMinimalLoadAssessors("cnda:segmentationFastData").size() > 0)
						#set ($seg = $mr.Fseg )
						$!seg.NWBV
					#else
						N/A
					#end
				     </td>
    			</tr>
   		</table>
  	#end
  	#if ($mr.getMinimalLoadAssessors("cnda:modifiedScheltensData").size() > 0)
   		<table width="100%">
    			<tr>
     				<th align="left" width="30%" valign="left" class="padded" NOWRAP>				WM Scheltens Score:				</th>
     				<td width="70%" valign="left" class="padded" NOWRAP>
									#if ($mr.getMinimalLoadAssessors("cnda:modifiedScheltensData").size() > 0)
						#set ($wm = $mr.Wm )
						$!wm.TotalScheltens #if ($mr.getMinimalLoadAssessors("cnda:modifiedScheltensData").size() > 1) <B>* Multiple Evaluations Available</B> #end
					#else
						N/A
					#end
     				</td>
    			</tr>
   		</table>
	  #end
  	</td>
 </tr>
  
  </TABLE>
 					</TD>
				</TR>
				<TR>
					 <TD align=left colspan=2 valign=top>
					<BR><BR>
						<Table cellspacing="0" cellpadding="1" border="0">
							<TR><TH  align=left><font face="$ui.sansSerifFonts" size="3" NOWRAP><b>Assessments</b></font></TH>


							<TD> #if($canEditRead)<A href="$link.setPage('XDATScreen_edit_cnda_radiologyReadData.vm').addPathInfo('mrsession',$om.getId()).addPathInfo('popup',$popup).addPathInfo('project',$project)">Add Rad Read</A> [This form is going away. Please use the new Radiology Read form in the above Actions Box.]#end</TD></TR>
							
							</TR>
							
							<TR><TD colspan=3>&nbsp;</TD>
							<TR>							
							<TH class="underscore">Date</TH>
							<TH class="underscore">Experiment</TH>
							<TH class="underscore">Project</TH>
							</TR>
								
								#foreach ($assessor in $om.getMinimalLoadAssessors())
									    <TR>
										    <TD NOWRAP>$!assessor.getProperty("date")</TD>
										    <TD NOWRAP>
																				    #if($assessor.canRead($user))
																					    										    #set ( $assessorID = $!assessor.getProperty("ID"))
																																		    										    #set ( $assessorField = "${assessor.getXSIType()}.ID")
																					    										    #set ( $url = "$link.setAction('DisplayItemAction').addPathInfo('search_element',$!assessor.getXSIType()).addPathInfo('search_field',$assessorField).addPathInfo('search_value',$assessorID).addPathInfo('popup',$popup).addPathInfo('project',$!project)" )
																					    										    #if ($assessor.getXSIType().equalsIgnoreCase("behavioral:tasksSummaryData"))
																						    										    										    <a href="$url" title="$assessor.getIdentifier($project)">Task: $assessor.getParsedType()</A>
																					    										    #else
																						    										    										    <a href="$url" title="$assessor.getIdentifier($project)">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</A>
																					    										    #end
																				    										#else
																					    										    #if ($assessor.getXSIType().equalsIgnoreCase("behavioral:tasksSummaryData"))
																						    										    										    Task: $assessor.getParsedType()
																					    										    #else
																						    										    										    <A  title="$assessor.getIdentifier($project)">$user.getDisplayManager().getDisplayNameForElement($assessor.getXSIType())</A>
																					    										    #end
																				    #end
																				    </TD>
																				    <TD NOWRAP>$!assessor.getProjectDisplayID()</TD>
																															    </TR> 
										#end
							</TABLE>
					</TD>
				</TR>

#else
#if($canEditRead)<br/><A href="$link.setPage('XDATScreen_edit_cnda_radiologyReadData.vm').addPathInfo('mrsession',$om.getId()).addPathInfo('popup',$popup).addPathInfo('project',$om.getProject())">Add Rad Read</A> [This form is going away. Please use the new Radiology Read form in the above Actions Box.]#end
				#end
