#if ($item.canEdit($user))
<li class="yuimenuitem">
	<A class="b" href="$link.setAction("XDATActionRouter").addPathInfo('xdataction','UploadEPrimeData').addPathInfo('search_element','xnat:subjectData').addPathInfo('search_field','xnat:subjectData.ID').addPathInfo('search_value',$!om.getId()).addPathInfo('popup',$!popup).addPathInfo('project',"$!project")"><div class="ic"><img border="0" src="$content.getURI("images/Up.gif")"/></div><div class="ic_spacer">&nbsp;</div>Upload ePrime Files
	</A>
</li>
#end