##
## $Id: applicationMacros.vm,v 1.1 2005/07/18 20:47:24 big Exp $
##
## Default Macro file for cnda_xnat
##
## Put your Application macros in this file.
##

#macro (cndaMacroJavascript)
<script type="text/javascript">

#########################################
## Add trim member functions to String ##
#########################################
String.prototype.trim = function() {
    return this.replace(/^\s+|\s+$/g,"");
}
String.prototype.ltrim = function() {
    return this.replace(/^\s+/,"");
}
String.prototype.rtrim = function() {
    return this.replace(/\s+$/,"");
}


#######################################
## Used by: cndaMultiSelectBoxSimple ##
#######################################
function addOption(selectId, maxSize)
{
    var selectElem = document.getElementById(selectId);
    var newOptionValue = document.getElementById('newValue_'+selectId).value.trim();

    var options = selectElem.options;

    if (newOptionValue == "")
    {
        alert("Custom value cannot be blank.");
        return;
    }

    for (var i=0; i < options.length; i++)
    {
        if (options[i].value == newOptionValue)
        {
            alert("The value '" + newOptionValue + "' already exists.")
            return;
        }
    }

    var newOption = document.createElement('option');

##  newOption.setAttribute("value", newOptionValue)
##  newOption.setAttribute("selected", "selected");
    newOption.value = newOptionValue;
    newOption.text = newOptionValue;
    newOption.selected ="selected";

##  var txtNode = document.createTextNode(newOptionValue);
##  newOption.appendChild(txtNode);

    try
    {
        selectElem.add(newOption, options[0]);
    }
    catch (e)
    {
        selectElem.add(newOption, 0);   // IE
    }

    if ((!maxSize || maxSize >= selectElem.length) && selectElem.length > selectElem.size)
    {
##      selectElem.setAttribute("size", selectElem.length)
        selectElem.size = selectElem.length;
    }

    return;
}


function arrayAlphSort(a,b)
{
    a = a.toLowerCase(); b = b.toLowerCase();

    return (a > b);
}

function sortSelect(selectId)
{
    var selectElem=document.getElementById(selectId)
    var optionArray = new Array;
    var textArray = new Array;

    for(var i=0; i < selectElem.length; i++)
    {
        textArray[i] = selectElem.options[i].text;
        optionArray[textArray[i]] = selectElem.options[i];
    }

    textArray.sort(arrayAlphSort);

    while (selectElem.length >0)
    {
            selectElem.remove(0)

        }

    for(var i=0; i < textArray.length; i++)
    {
        try {
            selectElem.add(optionArray[textArray[i]], null);
        }
        catch (e)
        {
            selectElem.add(optionArray[textArray[i]]);
        }
    }
}

function checkForEnter(e)
{
    var keyNum

    if(window.event) // IE
    {
        keyNum = e.keyCode
    }
    else if(e.which) // Netscape/Firefox/Opera
    {
        keyNum = e.which
    }

    if (keyNum == 13) // Check if keypress was the enter key
    {
        return true;
    }
    else
    {
        return false;
    }
}

</script>
#end
#*
#macro (cndaMacroJSBuildArray $arrayName $arrayData)
    var $arrayName = new Array();

    #foreach ($aValue in $arrayData)
        ## $aValue.size() is the size
        #if ($aValue.size() > 1)
            ${arrayName}.push('$aValue.get(0)'); // inner array
        #else
            ${arrayName}.push('$aValue'); // no array
        #end

    #end

    ${arrayName}.sort();

    document.write(${arrayName});
#end


#macro (cndaSQLQuery $defaultList)

#set($defaultList = [ "Allergic/Immunologic", "Skin", "HEENT", "Respiratory", "Cardiovascular", "Gastrointestinal", "CNS", "Musculoskeletal", "Psychiatric", "Endocrine" ])

#set($bodySystemSQL = "('Allergic/Immunologic', 'Skin', 'HEENT', 'Respiratory', 'Cardiovascular', 'Gastrointestinal', 'CNS', 'Musculoskeletal', 'Psychiatric', 'Endocrine')")
#set($bodySysCustomTypes = $data.getSession().getAttribute("user").getQueryResultsAsArrayList("SELECT DISTINCT con.bodySystem from sf_condition con LEFT JOIN sf_medicalHistory mh ON con.conditions_condition_sf_medical_id=mh.id  LEFT JOIN xnat_experimentData expt ON mh.id=expt.id WHERE expt.project='$project' and con.bodySystem not in $bodySystemSQL"))



#end

*#
#macro (cndaDateBox $name $item $vr $years)
    #cndaDateBoxOnChange($name $item $vr $years "")
#end

#macro (cndaDateBoxOnChange $name $item $vr $years $onChange)

 #if ($vr)
      #if($vr.getField($name))
           <font color="red">&#8658</font>
      #end
 #end
     #set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
     #set($days = [ 1..31 ])
     <DIV ID="date_container">
                #if($item.getDateProperty($name))
                          #set ($expt_date = $!item.getDateProperty($name))
                      <select id="${name}.month" name="${name}.month" onchange="validateDate(this); #if($onChange) $onChange(this); #end">
                   <option value="bad">(MONTH)</option>
                                   #foreach ($month in $months)
                        #set ($monthCount = $velocityCount - 1)
        <option value="$monthCount" #if ( $monthCount == $!expt_date.getMonth()) SELECTED="true" #end>                      $month                  </option>
                   #end
              </select>
              <select id="${name}.date" name="${name}.date" onchange="validateDate(this); #if($onChange) $onChange(this); #end">
                   <option value="bad">(DAY)</option>
                   #foreach ($day in $days)
        <option value="$day" #if ( $day == $!expt_date.getDate() ) SELECTED="true" #end>$day</option>
                   #end
              </select>

              <select id="${name}.year" name="${name}.year" onchange="validateDate(this); #if($onChange) $onChange(this); #end">
                   <option value="bad">(YEAR)</option>
                   #foreach ($year in $years)
                    <option value="$year" #if ( $year == $!expt_date.getYear() + 1900 ) SELECTED="true" #end>$year</option>
                   #end
              </select>
         #else
              <select id="${name}.month" name="${name}.month" onchange="validateDate(this); #if($onChange) $onChange(this); #end">
                   <option value="bad">(MONTH)</option>
                   #foreach ($month in $months)
                        #set ($monthCount = $velocityCount - 1)
                <option value="$monthCount">                $month                  </option>
                   #end
              </select>
                <select id="${name}.date" name="${name}.date" onchange="validateDate(this); #if($onChange) $onChange(this); #end">
                   <option value="bad">(DAY)</option>
                   #foreach ($day in $days)
                <option value="$day">$day</option>
                   #end
              </select>

##            #set ($currentYear = $date.Year + 1900)
              <select id="${name}.year" name="${name}.year" onchange="validateDate(this); #if($onChange) $onChange(this); #end">
                   <option value="bad">(YEAR)</option>
                   #foreach ($year in $years)
            <option value="$year">$year</option>
                   #end
              </select>
         #end
          <div ID="div_img" style="display:inline"></div>
     </DIV>
#end

#macro (cndaDateBoxNotReportedJS)
<script type="text/javascript">
    function selectDayReported(name, reported) {
        if (reported) {
            document.getElementById(name + "DayNotReported").value = 0;
            if (document.getElementById(name + ".date").selectedIndex === 1) {
                document.getElementById(name + ".date").selectedIndex = 0;
            }
//          if (document.getElementsByName(name + ".date")[0].selectedIndex === 1) {
//              document.getElementsByName(name + ".date")[0].selectedIndex = 0;
//          }
            selectMonthReported(name, reported);
        } else {
            document.getElementById(name + "DayNotReported").value = 1;
            document.getElementById(name + ".date").selectedIndex = 1;
//          document.getElementsByName(name + ".date")[0].selectedIndex = 1;
        }
    }

    function selectMonthReported(name, reported) {
        if (reported) {
            document.getElementById(name + "MonthNotReported").value = 0;
            if (document.getElementById(name + ".month").selectedIndex === 1) {
                document.getElementById(name + ".month").selectedIndex = 0;
                selectDayReported(name, reported);
            }
//          if (document.getElementsByName(name + ".month")[0].selectedIndex === 1) {
//              document.getElementsByName(name + ".month")[0].selectedIndex = 0;
//              selectDayReported(name, reported);
//          }
            selectYearReported(name, reported);
        } else {
            document.getElementById(name + "MonthNotReported").value = 1;
            document.getElementById(name + ".month").selectedIndex = 1;
//          document.getElementsByName(name + ".month")[0].selectedIndex = 1;
            selectDayReported(name, reported);
        }
    }

    function selectYearReported(name, reported) {
        if (reported) {
            document.getElementById(name + "YearNotReported").value = 0;
            if (document.getElementById(name + ".year").selectedIndex === 1) {
                document.getElementById(name + ".year").selectedIndex = 0;
                selectMonthReported(name, reported);
            }
//          if (document.getElementsByName(name + ".year")[0].selectedIndex === 1) {
//              document.getElementsByName(name + ".year")[0].selectedIndex = 0;
//              selectMonthReported(name, reported);
//          }
        } else {
            document.getElementById(name + "YearNotReported").value = 1;
            document.getElementById(name + ".year").selectedIndex = 1;
//          document.getElementsByName(name + ".year")[0].selectedIndex = 1;
            selectMonthReported(name, reported);
        }
    }
</script>
#end

#macro (cndaDateBoxNotReported $name $item $vr $years)
    #if ($vr)
        #if($vr.getField($name))
            <font color="red">&#8658</font>
        #end
    #end

    #set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
    #set($days = [ 1..31 ])
    #set($DayNotReported = "${name}DayNotReported")
    #set($MonthNotReported = "${name}MonthNotReported")
    #set($YearNotReported = "${name}YearNotReported")

    <DIV ID="date_container">
    #if($item.getDateProperty($name))
        #set ($expt_date = $!item.getDateProperty($name))

        <select name="${name}.month" id="${name}.month" onchange="if(this.selectedIndex === 1) { selectMonthReported('${name}', false); } else { selectMonthReported('${name}', true); validateDate(this); }">
            <option value="bad">(SELECT)</option>
            <option value="0" #if ( $item.getBooleanProperty($MonthNotReported) ) SELECTED="true" #end>Not Reported</option>
        #foreach ($month in $months)
            #set ($monthCount = $velocityCount - 1)
            <option value="$monthCount" #if ( !$item.getBooleanProperty($MonthNotReported) && $monthCount == $!expt_date.getMonth()) SELECTED="true" #end>$month</option>
        #end
        </select>

        <select name="${name}.date" id="${name}.date" onchange="if(this.selectedIndex === 1) { selectDayReported('${name}', false); } else { selectDayReported('${name}', true); validateDate(this); }">
            <option value="bad">(SELECT)</option>
            <option value="1" #if ( $item.getBooleanProperty($DayNotReported) ) SELECTED="true" #end>Not Reported</option>
        #foreach ($day in $days)
            <option value="$day" #if (  !$item.getBooleanProperty($DayNotReported) && $day == $!expt_date.getDate() ) SELECTED="true" #end>$day</option>
        #end
        </select>

        <select name="${name}.year" id="${name}.year" onchange="if(this.selectedIndex === 1) { selectYearReported('${name}', false); } else { selectYearReported('${name}', true); validateDate(this); }">
            <option value="bad">(SELECT)</option>
            <option value="1900" #if ( $item.getBooleanProperty($YearNotReported) ) SELECTED="true" #end>Not Reported</option>
        #foreach ($year in $years)
            <option value="$year" #if (  !$item.getBooleanProperty($YearNotReported) && $year == $!expt_date.getYear() + 1900 ) SELECTED="true" #end>$year</option>
        #end
        </select>
    #else
        <select name="${name}.month" id="${name}.month" onchange="if(this.selectedIndex === 1) { selectMonthReported('${name}', false); } else { selectMonthReported('${name}', true); validateDate(this); }">
            <option value="bad">(SELECT)</option>
            <option value="0">Not Reported</option>
        #foreach ($month in $months)
            #set ($monthCount = $velocityCount - 1)
            <option value="$monthCount">$month</option>
        #end
        </select>

        <select name="${name}.date" id="${name}.date" onchange="if(this.selectedIndex === 1) { selectDayReported('${name}', false); } else { selectDayReported('${name}', true); validateDate(this); }">
            <option value="bad">(SELECT)</option>
            <option value="1">Not Reported</option>
        #foreach ($day in $days)
            <option value="$day">$day</option>
        #end
        </select>

        <select name="${name}.year" id="${name}.year" onchange="if(this.selectedIndex === 1) { selectYearReported('${name}', false); } else { selectYearReported('${name}', true); validateDate(this); }">
            <option value="bad">(SELECT)</option>
            <option value="1900">Not Reported</option>
        #foreach ($year in $years)
            <option value="$year">$year</option>
        #end
        </select>
    #end
    <div ID="div_img" style="display:inline"></div>

    <INPUT type="hidden" id="${name}DayNotReported" name="${name}DayNotReported" value="$!item.getIntegerProperty($DayNotReported)"/>
    <INPUT type="hidden" id="${name}MonthNotReported" name="${name}MonthNotReported" value="$!item.getIntegerProperty($MonthNotReported)"/>
    <INPUT type="hidden" id="${name}YearNotReported" name="${name}YearNotReported" value="$!item.getIntegerProperty($YearNotReported)"/>

    </DIV>
#end

#macro (cndaRadioYesNoSimple $name $item $defaultValue $vr)
    #cndaBooleanRadioYesNo($name $item $defaultValue "" $vr)
#end

#macro (cndaBooleanRadioYesNo $name $item $defaultValue $onClick $vr)
    #if ($vr)
        #if($vr.getField($name))
            <font color="red">&#8658</font>
        #end
    #end

    #if ($!item.getProperty($name) != 1 || $!item.getProperty($name) != 0)
        #if ($item.getBooleanProperty($name,$defaultValue))
            <input type="radio" id="$name" name="$name" value="1" CHECKED #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;Yes
            <input type="radio" id="$name" name="$name" value="0" #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;No
        #else
            <input type="radio" id="$name" name="$name" value="1" #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;Yes
            <input type="radio" id="$name" name="$name" value="0" CHECKED #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;No
        #end
    #elseif("$!defaultValue" != "")
        #if ($defaultValue)
            <input type="radio" id="$name" name="$name" value="1" CHECKED #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;Yes
            <input type="radio" id="$name" name="$name" value="0" #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;No
        #else
            <input type="radio" id="$name" name="$name" value="1" #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;Yes
            <input type="radio" id="$name" name="$name" value="0" CHECKED #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;No
        #end
    #else
        <input type="radio" id="$name" name="$name" value="1" #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;Yes
        <input type="radio" id="$name" name="$name" value="0" #if($onClick) onclick="$onClick(this.value)" #end/>&nbsp;No
    #end
#end

#macro (cndaRadioButtonGroupOnChange $name $item $possibleValues $onChange $vr)
#if ($vr)
    #if($vr.getField($name))
        <font color="red">&#8658</font>
    #end
#end
    #if($item.isPKField($name) && (!$vr.getField($name)))
        <input ID="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
        $item.getProperty($name)
    #else
        #if ($possibleValues.size()==0)
            <input ID="$name" type="text" name="$name" value="$item.getProperty($name)"/>
        #else
            #foreach ($pValue in $possibleValues)
            <input type="radio" name="$name" VALUE="$pValue" #if($pValue.equals($item.getProperty($name))) CHECKED #end #if($onChange) onchange="$onChange(this);" #end />&nbsp;$pValue
            #end
        #end
    #end
#end

#macro (cndaCheckboxSimple $name $valueOn $valueOff $vr $checked)
    #cndaCheckbox($name $valueOn $valueOff $vr $checked "")
#end

#macro (cndaCheckbox $name $valueOn $valueOff $vr $checked $onClick)
    #if ($vr)
        #if($vr.getField($name))
            <font color="red">&#8658</font>
        #end
    #end

    ## The hidden box is necessary to submit a "false" value if the checkbox is unchecked
    ## If the checkbox is checked, its true value will override the hidden's "false" value
    <input type="checkbox" name="$name" id="$name" value="$valueOn" #if($checked) CHECKED #end #if($onClick) onclick="$onClick(this)" #end/>
##  <input type="hidden" name="$name" value="$valueOff" #if($onClick) onclick="$onClick(this.value)" #end />
#end


#macro (cndaSelectBoxSimple $name $item $possibleValues $vr)
    #if ($vr)
        #if($vr.getField($name))
            <font color="red">&#8658</font>
        #end
    #end
    #if($item.isPKField($name) && (!$vr.getField($name)))
        <input id="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
        $item.getProperty($name)
    #else
        #if($possibleValues)
            #if ($possibleValues.size()==0)
                <input id="$name" type="text" name="$name" value="$item.getProperty($name)"/>
            #else
                <SELECT id="$name" name="$name">
                <OPTION VALUE="">(SELECT)</OPTION>
                #foreach ($pValue in $possibleValues)
                    <OPTION VALUE="$pValue.get(0)" #if($pValue.get(0).equals($item.getProperty($name))) SELECTED #end>$pValue.get(1)</OPTION>
                #end
                </SELECT>
            #end
        #else
            <input id="$name" type="text" name="$name" value="$item.getProperty($name)"/>
        #end
    #end
#end

#macro (cndaTimeBoxNoSeconds $name $item $vr)
    #if ($vr)
        #if($vr.getField($name))
            <font color="red">&#8658</font>
        #end
    #end

    #set ($hours=[["00","12AM",0],["01","1AM",1],["02","2AM",2],["03","3AM",3],["04","4AM",4],["05","5AM",5],["06","6AM",6],["07","7AM",7],["08","8AM",8],["09","9AM",9],["10","10AM",10],["11","11AM",11],["12","12PM",12],["13","1PM",13],["14","2PM",14],["15","3PM",15],["16","4PM",16],["17","5PM",17],["18","6PM",18],["19","7PM",19],["20","8PM",20],["21","9PM",21],["22","10PM",22],["23","11PM",23]])
    <br>
    <font face="$ui.sansSerifFonts">
    #if($!item.getDateProperty($name))
        #set ($expt_date = $!item.getDateProperty($name))
        <select id="${name}.hours" name="${name}.hours">
        <option value="">HH</option>
        #foreach ($hour in $hours)
                <option value="$hour.get(0)" #if ( $hour.get(2) == $!expt_date.getHours() ) SELECTED="true" #end>$hour.get(1)</option>
        #end
        </select>:

        <select id="${name}.minutes" name="${name}.minutes">
            <option value="">MM</option>
            #foreach ($minute in [ 0..59 ])
                    <option value="$minute" #if ( $minute == $!expt_date.getMinutes() ) SELECTED="true" #end>$minute</option>
            #end
        </select>
    #else
        <select id="${name}.hours" name="${name}.hours">
            <option value="">HH</option>
            #foreach ($hour in $hours)
                    <option value="$hour.get(0)">$hour.get(1)</option>
            #end
        </select>:

        <select id="${name}.minutes" name="${name}.minutes">
            <option value="">MM</option>
            #foreach ($minute in [ 0..59 ])
                    <option value="$minute">$minute</option>
            #end
        </select>
    #end
    </font>
#end

#macro (cndaMultiSelectBoxSimple $name $item $possibleValues $selectedValues $selectedProperty $startSize $maxSize $displaySortButton $vr)
    #cndaOptionSelectBoxSimple($name $item $possibleValues $selectedValues $selectedProperty $startSize $maxSize $displaySortButton 1 $vr)
#end

#macro (cndaSingleSelectBoxSimple $name $item $possibleValues $startSize $maxSize $displaySortButton $vr)
    #cndaOptionSelectBoxSimple($name $item $possibleValues null null $startSize $maxSize $displaySortButton null $vr)
#end

#macro (cndaOptionSelectBoxSimple $name $item $possibleValues $selectedValues $selectedProperty $startSize $maxSize $displaySortButton $multiple $vr)
## X expand when added too
## X optional max expansion value
## add value when hitting return, wrap with form

    #if ($vr)
        #if($vr.getField($name))
            <font color="red">&#8658</font>
        #end
    #end
    #if($item.isPKField($name) && (!$vr.getField($name)))
        <input id="$name" type="hidden" name="$name" value="$item.getProperty($name)"/>
        $item.getProperty($name)
    #else
        #if($possibleValues)
            #if ($possibleValues.size()==0)

                <input id="$name" type="text" name="$name" value="$item.getProperty($name)"/>
            #else
                #if ($displaySortButton)
                    <input type="button" value="Sort" onClick="sortSelect('$name');"><br>
                #end

                #if (! $startSize || $startSize < $possibleValues.size())
                    #set($startSize = $possibleValues.size())
                #end

                #if ($maxSize && $maxSize < $possibleValues.size())
                    #set($startSize = $maxSize)
                #end
                <SELECT id="$name" name="$name" #if($multiple) multiple #end #if($startSize) size=$startSize #end>
                #if ($selectedValues)
                    #foreach ($pValue in $possibleValues)
                        #set($selected = false)
                        #foreach ($sValue in $selectedValues)
                            #if ($selectedProperty)
                                #if($pValue.equals($sValue.getProperty($selectedProperty)))
                                    #set($selected = true)
                                #end
                            #else
                                #if($pValue.equals($sValue))
                                    #set($selected = true)
                                #end
                            #end
                        #end
                        <OPTION VALUE="$pValue" #if($selected) SELECTED #end>$pValue</OPTION>
                    #end

## Find and create custom options in the selectedValues array not in the possibleValues array.
                    #foreach ($sValue in $selectedValues)
                        #set($foundValue = false)

                        #if ($selectedProperty)
                            #set($sValue = $sValue.getProperty($selectedProperty))
                        #end

                        #foreach ($pValue in $possibleValues)
                            #if( $pValue.equals($sValue) )
                                #set($foundValue = true)
                            #end
                        #end
                        #if ( !$foundValue )
                            <OPTION VALUE="$sValue" SELECTED>$sValue</OPTION>
                        #end
                    #end
                #else
                    ## #set($itemNotFound = true)
                    ## <option>name=$name</option>
                    ## <option>getProperty=$item.getProperty($name)</option>
                    #foreach ($pValue in $possibleValues)
                        ## <OPTION VALUE="$pValue" #if($pValue.equals($item.getProperty($name))) SELECTED #set($itemNotFound = false) #end>$pValue</OPTION>
                        <OPTION VALUE="$pValue" #if($pValue.equals($item.getProperty($name))) SELECTED #end>$pValue</OPTION>
                    #end
                    ## <option>$itemNotFound</option>
                    ## #if ($itemNotFound)
                    ## <OPTION VALUE="$item.getProperty($name)" SELECTED>$item.getProperty($name)</OPTION>
                    ## #end
                #end
                </SELECT>
                <br>
                <input type="text" id="newValue_$name" onkeypress="if (checkForEnter(event)){addOption('$name', '$!maxSize');}">
                <input type="button" id="addOption_$name" value="Add Option" onClick="addOption('$name', '$!maxSize');">

                <script type="text/javascript">
                sortSelect('$name');
                </script>
            #end
        #else
            <input id="$name" type="text" name="$name" value="$item.getProperty($name)"/>
        #end
    #end
#end

##                                                   #
##                 DIAN Specific Macros              #
##                                                   #

## dian_getDisplayString()
## Description:  Macro to display the correct display string given a list of 'codes'.
##
## Params:
## String $dbStr       -- A colon delimited number string pulled from the database (i.e. "1:3:99")
## Array $translations -- The array strings containing descriptions for each code within
##                        $dbStr. (i.e. ["apple","orange","pear","peach"]
## Array $codes        -- The index of the code in the codes array will be used to index the descArr
##                       (i.e. codes ["1","2","3","99"])
## Output of the input "1:3:99" would be "1: apple 3: pear 99: peach"
#macro( dian_getDisplayString $dbStr $translations $codes)
   #foreach ($code in $dbStr.split(':'))
      #if($codes.contains($code))
         $!code: $!translations.get($codes.indexOf($code))<br/>
      #end
   #end
#end

## dian_createTableRow()
## Description:  Macro to create a table row given an element, header
##               and a description array.
##
## Params:
## String $elm       -- A string to display within <td> tags
## String $headerTxt -- The text that will be displayed in <th> tags
## Array  $descArry  -- The array we pass into dian_getDisplayString() (see description above)
##                      If value is an empty string then we will just print the element
##                      instead of calling dian_getDisplayString()
##
## Examples: see XDATScreen_report_dian_csfsampdata.vm, XDATScreen_report_dian_feedbackData.vm
##
#macro( dian_createTableRow $elm $headerTxt $translations $codes)
   
   <tr><th width="400px">$headerTxt</th>
      #if ($translations == "" || $codes == "")
         <td>$!elm</td>
      #else
         <td>#dian_getDisplayString($elm $translations $codes)</td>
      #end
   </tr>
   
#end


## ---- Pipeline Email Notification List Manager ----
## Each pipeline should be able to have its own notification list defined by the project owner upon installing a pipeline.
## Each execution will draw from this list, and also allow users to add additional emails to that specific execution.
## Function borrowed from Project notifications list by Tim at https://bitbucket.org/nrg/xnat_builder_1_6dev/src/35795656eaa61c9666b92f195ac6d0a85e6e164c/plugin-resources/webapp/xnat-templates/screens/xnat_projectData/report/manage_tab/notifs.vm?at=default

#macro( pipelineEmailNotif $generalEmailFile $specificEmailFile)
<table id="notif_script_table">
    <tr><td></td><td>When the pipeline completes, these email addresses will be notified:</td></tr>
    <tr><td></td><td><input type="text" disabled name="general-notif-list" id="general-notif-list" SIZE="100"/></td></tr>
    <tr/>
    <tr><td></td><td>Specify any additional emails to be notified as a comma-separated list.</td></tr>
    <tr><td></td><td><input type="text" name="specific-notif-list" id="specific-notif-list" SIZE="100"/></td></tr>
    #if ("$!specificEmailFile"!="")
    <tr><td COLSPAN="2"><button type="button" class="btn" id="pipeline-notif-save" onclick="XNAT.app.pipeNotifUpdate();">Save List</button></td></tr>
    #end
</table>

<script>
    var generalEmailFile = "$generalEmailFile";
    var specificEmailFile = "$!specificEmailFile";

    addUnique=function(toAdd, toReturn) {
        for (i=0; i<toAdd.length; i++) {
            var addr = toAdd[i].trim();
            if (addr && toReturn.indexOf(addr)==-1) {
                toReturn.push(addr);
            }
        }
        return toReturn;
    }
    concatEmailLists=function(){
        this.generalCSV = YUIDOM.get("general-notif-list").value;
        this.specificCSV = YUIDOM.get("specific-notif-list").value;

        this.generalList = this.generalCSV.trim().split(',');
        this.specificList = this.specificCSV.trim().split(',');

        if (this.generalList.length+this.specificList.length === 0) {
            return "";
        } else {
            this.retList = addUnique(this.generalList, []);
            this.retList = addUnique(this.specificList, this.retList);
        }
        return this.retList.join(',');
    }

    XNAT.app.pipeNotifUpdate=function(){

        this.notifs=concatEmailLists();
        if(this.notifs.indexOf("'")>-1 || this.notifs.indexOf("\"")>-1){
            xModalMessage('Email Entry Error', 'Notification email addresses cannot contain quotes.');
            return false;
        }
        openModalPanel('notifs','Saving Emails');
        if (this.notifs) {
            YAHOO.util.Connect.asyncRequest('PUT',serverRoot+"/data/projects/$project/resources/notifications/files/"+specificEmailFile+"?inbody=true&overwrite=true&content=PIPELINE_NOTIFICATION&XNAT_CSRF=" + window.csrfToken,
                    {
                        success : function()
                        {
                            closeModalPanel('notifs');
                            xModalMessage('Email Notification', 'Emails updated for the pipeline.');
                        },
                        failure: function(o){
                            closeModalPanel('notifs');
                            var options = {};
                            var message = "<p>Failed to store emails for the pipeline.</p>";
                            var reasons = "";
                            if(o.responseText){
                                reasons = o.responseText.match(/\<h3\>(.*[\n\r])+\<\/h3\>/g);
                                if(reasons && reasons[0]){
                                    reasons = reasons[0].replace(/\<\/?h3\>/g,"").replace(/[\n\r]/g,"<br>");
                                    options = {width: 500, height: 400};
                                }else{
                                    reasons = "";
                                }
                            }
                            xModalMessage('Email Error', message + reasons, "OK", options);
                        },
                        cache:false, // Turn off caching for IE
                        scope: this
                    },
                    this.notifs);
        } else {
            YAHOO.util.Connect.asyncRequest('DELETE',serverRoot+"/data/projects/$project/resources/notifications/files/"+specificEmailFile+"?content=PIPELINE_NOTIFICATION&XNAT_CSRF=" + window.csrfToken,
                    {
                        success : function()
                        {
                            closeModalPanel('notifs');
                            xModalMessage('Email Notification', 'Email list removed for the pipeline.');
                        },
                        failure: function(){
                            closeModalPanel('notifs');
                            xModalMessage('Email Error', 'Failed to remove email list for the pipeline.');
                        },
                        cache:false, // Turn off caching for IE
                        scope: this
                    });
        }
    }

    XNAT.app.loadGeneral=function(obj){
        YUIDOM.get("general-notif-list").value = obj.responseText;
    }

    XNAT.app.loadSpecific=function(obj){
        this.emailCSVUnion = obj.responseText;
        if (this.emailCSVUnion) {
            this.generalEmailCSV = YUIDOM.get("general-notif-list").value;
            if (this.generalEmailCSV) {
                this.emailListUnion = this.emailCSVUnion.split(",");
                this.specificEmailList = [];
                for (i=0; i<this.emailListUnion.length; i++) {
                    var addr = this.emailListUnion[i].trim();
                    if (addr && this.generalEmailCSV.indexOf(addr)==-1) {
                        this.specificEmailList.push(addr);
                    }
                }
                this.specificEmailCSV = this.specificEmailList.join(",");
            } else {
                this.specificEmailCSV = this.emailCSVUnion;
            }

            YUIDOM.get("specific-notif-list").value = this.specificEmailCSV;
        }
    }

    YAHOO.util.Connect.asyncRequest('GET', serverRoot+'/data/projects/$project/resources/notifications/files/'+generalEmailFile, {success : XNAT.app.loadGeneral, failure : function(){}, cache : false, scope : this});
    if (specificEmailFile) {
        YAHOO.util.Connect.asyncRequest('GET', serverRoot+'/data/projects/$project/resources/notifications/files/'+specificEmailFile, {success : XNAT.app.loadSpecific, failure : function(){}, cache : false, scope : this});
    }
</script>
#end

#macro(config $toolName $fileName $project)
<p>
    <label for="${toolName}-${fileName}" id="${toolName}-${fileName}-label" title="Set this">Set this text with jQuery!</label>
    <input type="text" id="${toolName}-${fileName}" name="${toolName}-${fileName}" value="" size="75"/>
</p>

<script>
    if (!configData) {
        var configData = {};
    }
    configData["${toolName}-${fileName}"] = {};
    configData["${toolName}-${fileName}"]["currentlyStored"] = "";

    configData["${toolName}-${fileName}"]["project"] = "$!project";
    if (configData["${toolName}-${fileName}"]["project"]) {
        configData["${toolName}-${fileName}"]["configPath"] = '/data/projects/'+configData["${toolName}-${fileName}"]["project"]+'/config/$toolName/$fileName';
    } else {
        configData["${toolName}-${fileName}"]["configPath"] = '/data/config/$toolName/$fileName';
    }

    configData["${toolName}-${fileName}"].saveConfig=function(){
        this.inputValue = $("#${toolName}-${fileName}").val();

        if (this.inputValue && this.inputValue != configData["${toolName}-${fileName}"]["currentlyStored"]) {
            YAHOO.util.Connect.asyncRequest('PUT',serverRoot+configData["${toolName}-${fileName}"].configPath+'?inbody=true&overwrite=true&XNAT_CSRF=' + window.csrfToken,
                {
                    success : function() {
                        configData["params-mr_scan_types"]["currentlyStored"] = YUIDOM.get("params-mr_scan_types").value;
                    },
                    failure: function(o){
                        var options = {};
                        var message = "<p>Failed to store config ${toolName}/${fileName}.</p>";
                        var reasons = "";
                        if(o.responseText){
                            reasons = o.responseText.match(/\<h3\>(.*[\n\r])+\<\/h3\>/g);
                            if(reasons && reasons[0]){
                                reasons = reasons[0].replace(/\<\/?h3\>/g,"").replace(/[\n\r]/g,"<br>");
                                options = {width: 500, height: 400};
                            }else{
                                reasons = "";
                            }
                        }
                        xModalMessage('Config error', message + reasons, "OK", options);
                    },
                    cache:false, // Turn off caching for IE
                    scope: this
                },
                this.inputValue);
        }
    }

    configData["${toolName}-${fileName}"].loadConfig=function(obj){
        this.configResults = JSON.parse(obj.responseText);
        this.contents = this.configResults["ResultSet"]["Result"][0]["contents"];

        $("#${toolName}-${fileName}").val(this.contents);
        configData["${toolName}-${fileName}"]["currentlyStored"] = this.contents;
    }

    YAHOO.util.Connect.asyncRequest('GET', serverRoot+configData["${toolName}-${fileName}"]["configPath"], {success : configData["${toolName}-${fileName}"].loadConfig, failure : function(){}, cache : false, scope : this});
</script>

#end
