/* simulate xModal appearance in popup windows for pipelines. */
body.popup.xmodal #layout_content { margin: 0; }

div.pipemodal { position: absolute; top: 0; left: 0; padding: 0 ; overflow: hidden ; background: #fff ; /* border-radius: 9px ; */ }
div.pipemodal .title { position: relative ; height: 25px ; padding-left: 10px ; overflow: hidden ; font-size: 12px ; font-weight: normal ; line-height: 28px ; vertical-align: middle ; color: #333 ; background: /* #084FAB */ /* #206bc4 */ #f0f0f0 url('images/nav_bkdg.png') center center repeat-x ; border-bottom: 1px solid #c0c0c0 ; /* border-radius: 5px 5px 0 0 ; */ }
div.pipemodal .title .close { width: 36px ; height: 24px ; margin: 0 !important ; padding: 0 !important ; position: absolute ; top: 1px ; right: 1px ; background: url('images/close-yui.gif') center center no-repeat ; border: none ; }
div.pipemodal .body { position: relative ; overflow: hidden ; }
div.pipemodal .body.scroll { overflow-y: auto ; }
div.pipemodal .body .inner { padding: 20px ; font-size: 13px ; line-height: 17px ; }
div.pipemodal .body h1, div.pipemodal .body h2, div.pipemodal .body h3, div.pipemodal .body h4 { margin-bottom: 1em !important; }
div.pipemodal .body p { margin: 0 0 1em ; }
div.pipemodal .footer { display: block ; position: relative ; height: 52px ; padding: 0 16px ; vertical-align: middle ; background: #f0f0f0; border-top: 1px solid #e0e0e0 ; overflow: visible ; }
div.pipemodal .footer.white { background: #fff ; border-top-color: #fff ; }
div.pipemodal .footer .inner { position: relative ; bottom: 1px ; }
div.pipemodal .footer .inner .content { position: absolute ; left: 0 ; padding: 10px 0 ; }
div.pipemodal .footer .buttons { position: absolute ; right: 0 ; }
div.pipemodal .footer .button, div.pipemodal .footer .button.cancel.default { display: inline-block ; height: 24px ; margin: 12px 0 0 6px ; padding: 1px 15px !important ; line-height: 24px ; vertical-align: middle ; font-size: 13px ; font-weight: normal ; text-decoration: none !important ; color: #333 ; background: #e0e0e0 url('images/btn2_30px.png') center center repeat-x ; border: 1px solid #808080 ; border-radius: 3px ; }
div.pipemodal .footer .button:active, div.pipemodal .footer .button.cancel.default:active { color: inherit ; background: #d0d0d0 }
div.pipemodal .footer .button.default { font-weight: bold ; color: #fff ; background: /* #084FAB */ /* #206bc4 */ #07428d url('images/btn1_30px.png') center top repeat-x ; border-color: /* #206bc4 */ /* #243356 */ #293d66 ; } div.pipemodal .footer .button.default:active { background: /* #206bc4 */ /* #4482cd */ #084FAB ; border-color: /* #084FAB */ #243356 ; }
div.pipemodal .footer .button.hidden, div.pipemodal .footer .button.disabled { display: inline-block ; color: #f0f0f0 ; background: #d0d0d0 ; border-color: #c0c0c0 ; }
div.pipemodal .footer .button.hidden:hover, div.pipemodal .footer .button.disabled:hover { cursor: not-allowed !important ; background: #d0d0d0 ; }
.ie8 div.pipemodal .footer .button { /* margin: 10px ; */ padding: 3px 6px ; }
.ie9 div.pipemodal .footer .button { /* margin: 12px ; */ padding: 4px 6px 3px ; } .modal_content { display: none ; }

.col-2 { width: 45%; float:left; padding-right: 5%; }

.pipemodal div.error { margin-top: 0; }

.pipemodal fieldset { background-color: #f0f0f0; border: 1px solid #ccc; margin: 1em 0; padding: 1em; }
.pipemodal fieldset legend { border-radius: 3px; padding: 3px; background-color: inherit; }
.pipemodal fieldset label { display: inline-block; font-weight: bold; min-width: 150px; padding-right: 10px; }
.pipemodal fieldset p { margin-bottom: 1em; }
.pipemodal .label-container,
.pipemodal .input-container,
.pipemodal .helptext-container { display: inline-block; vertical-align: top; }
.pipemodal .helptext-container { background: url(icons/icon-caret-lt-48.png) top left no-repeat; background-size: 16px 16px; color: #666; float: right; font-size: 11px; padding-left: 24px; width: 200px }
.pipemodal fieldset .col-2 label { min-width: 75px; }

.pipemodal fieldset.error { background-color: #fffcc7; }
.pipemodal fieldset.error legend { color: #c33; }
.pipemodal fieldset.error .required { border-color: #c33; }

.pipemodal input, .pipemodal select, .pipemodal textarea { border: 1px solid #999; padding: 2px 1px;}

.pipemodal table { border: 1px solid #ccc; }
.pipemodal td, .inputWrapper th { padding: 3px; }
.pipemodal td { border-top: 1px solid #ccc; }
.pipemodal th { text-align: left; background-color: #f3f3f3; }
tr.empty { background-color: #fffcc7; color: #933; }

/*
div.pipemodal .footer { background: #f0f0f0; border-top: 1px solid #e0e0e0; display: block; position: fixed; bottom: 0; right: 0; height: 52px; padding: 0 16px; vertical-align: middle; width: inherit; }
div.pipemodal .footer .buttons { position: absolute ; right: 0 ; }
div.pipemodal .footer .buttons .textlink { font-size: 12px; padding: 0 8px; position: relative; top: 5px; }
div.pipemodal .footer .button.default { font-weight: bold ; color: #fff ; background: #07428d url('images/btn1_30px.png') center top repeat-x ; border-color: #293d66 ; }
*/
div.pipemodal.embedded { top: 0; left: 0; border: none; box-shadow: none; display: block; width: 100%; z-index: auto;  }

/* Avoid over-padding XNAT full-page content when displayed in a modal. */

.xmodal .inner #layout_content { margin: 0; }