$data.setLayoutTemplate("Popup.vm")
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
#set ($popup=$data.getParameters().getString("popup"))
<script type="text/javascript">

<!--

function popup(mylink, windowname)

{

if (! window.focus)return true;

var href;

if (typeof(mylink) == 'string')

   href=mylink;

else

   href=mylink.href;

window.open(href, windowname, 'width=500,height=400,status=yes,resizable=yes,scrollbars=yes');

return false;

}

//-->


function goToURL() { 
	  window.location = "$content.getURI("/app/template/BuildScreen_StdPIBPreprocessing.vm/search_value/$search_value/search_element/$search_element/search_field/$search_field/popup/true")"; 
}


</script>

$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">				


<div align="center">
<font size="1">
	<table  border="1">
  <tr>
    <th  align="center" width="130" #if ($step==1)  bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 1</th>
    <th  align="center"  width="130" #if ($step==2)  bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 2</th>
    <th  align="center" width="130" #if ($step==3) bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 3</th>
  </tr>
  <tr>
    <td align="center"><b>
    #if ($step1Disabled == 'disabled')
    <b>Atlas Register PET and MRI-T1</b>
    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","BuildScreen_StdPIBPreprocessing").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("popup","true").addPathInfo("step","1")" >Atlas Register PET and MRI-T1 </a></b>
    #end
    </td>
    <td align="center">
    #if ($step2Disabled == 'disabled')
    <b> Create ROIS </b>
	    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","BuildScreen_GenPIBCreateRoi").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("popup","true").addPathInfo("content","MPRAGE_222").addPathInfo("step","2")" >Create ROIS </a></b>
    #end    
    </td>
    <td align="center">
    #if ($step3Disabled == 'disabled')
    <b>Run Time Course Analysis </b>
    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","BuildScreen_PIBBuildROI").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("popup","true").addPathInfo("step","3")" >Run Time Course Analysis</a></b>
    #end
    </td>
  </tr>
</table>
</font>
</div>



<br/>


<form name="GenPIBBuildROIPipeline" method="post" action="$link.setAction("BuildGenPIBActions")">
<div id="msgDiv"> </div>
<b>
  <font face="verdana,geneva,helvetica ">
	      Process: $pet.Label
  </font>
</b>
<br/>
#set ($target=$pet.getComputation("TARGET"))
#set ($totalframe=$pet.getTotalFrame())
<table border=0 width=265 bodercolor="#CC3333">
#if ( $target=="")
<tr>
		<td>
			<b>Atlas </b>			
		</td>	
		<td>
			<select name="atlas">
				<option name="711-2B" selected>711-2B </option>
				<option name="711-2C">711-2C </option>
				<option name="711-2O">711-2O </option> 
				<option name="711-2Y">711-2Y </option>
				<option name="711-2K">711-2K </option>
				<option name="711-2L">711-2L </option>
			</select>
		</td><td> <font color="red">Please select the appropriate target which was used in registering the PET to MPRAGE </font> </td>	
	</tr>
#end
<tr>
		<td>
			<b>Start Frame</b>			
		</td>	
	    <td><input name="startframe" type="text" value="$pet.getFirstFrame()" size="5" /></td> <td> &nbsp; </td>
	</tr>
	#if ($totalframe=="")
<tr>
		<td>
			<b>Total Frame</b>			
		</td>	
	    <td><input name="totalframe" type="text" value="" size="5" /></td>
	    <td>  <font color="red">Please enter total number of frames acquired </font> </td>	
	</tr>
	#end
</table>


  <table border="0" width="245" bordercolor="#CC3333">
       <tr style="border-style:none">
            <td width="233" style="border-style:none" colspan="2">
                <p>&nbsp;&nbsp;Select ROIs to include in build:</p>
            </td>
        </tr>
   </table>	
   <table>
        <tr  style="border-style:none">
          <td> &nbsp; </td>  <td> <b>Region Name</b> </td> <td> <b>Region Hemisphere</b> </td> <td> <b>Region File</b> </td>
        </tr>
   #foreach($unassessed in $pet.getUnAssessedRegions())   
  	   		#set ($checked="checked")
  	   		#if ($unassessed.Name == "Cerebellum")
        <tr  style="border-style:none">
            <td> <input type="checkbox" name="Cerebellum" value="$unassessed.getFile().getUri()" checked/>  </td>
            <td> $unassessed.Name </td> <td> $unassessed.Hemisphere </td><td> $unassessed.getFile().getUri() </td>
        </tr>
	     #else 
	        <tr  style="border-style:none">
            <td> <input type="checkbox" name="$unassessed.Name" value="$unassessed.getFile().getUri()" checked/>  </td>
            <td> $unassessed.Name </td> <td> $unassessed.Hemisphere </td><td> $unassessed.getFile().getUri() </td>
        </tr>
     #end  
   #end
   #foreach($assessed in $pet.getAssessedRegions())   
  	   		#set ($checked="")
        <tr  style="border-style:none">
            <td> <input type="checkbox" name="$assessed.Name" value="$assessed.getFile().getUri()"/>  </td>
            <td> $assessed.Name </td> <td> $assessed.Hemisphere </td><td> $assessed.getFile().getUri() </td>
        </tr>
   #end
  </table>    
  
  <br>
    <p>&nbsp;</p>
    #set ($email = $user.getEmail())
     #if(!($email==""))
            <p>
                When the build is complete, an email will be automatically sent to $email 
            </p>
    <p>&nbsp;</p>
	    #end
	            <p>
                Send <i>additional</i> confirmation emails to
                <input type="text" name="emailField" value="" size="20">  (use spaces to separate multiple addresses)
            </p>
    <p>&nbsp;</p>
    <p>
    
<input type="hidden" name="pipelineName" value="PET/StdPIBMultipleROIProcessing.xml"/>
   
<INPUT TYPE="hidden" name="job_scheduler" value="arc-grid-queue"/>

    
#xdatPassItemFormFields($search_element $search_field $search_value $project)
    <input type="submit" name="eventSubmit_doBuildroi" value="Build ROI" />
    			&nbsp;&nbsp;
   		    	<input type="button" ONCLICK="javascript:self.close()" value="Cancel"/>
    	    <p>&nbsp;</p>

</form>