$data.setLayoutTemplate("Popup.vm")
#set ($popup=$data.getParameters().getString("popup"))
$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">				


<form ID="uploadFORM"  enctype="multipart/form-data" method="POST" action="$link.setAction("ImageUploadSession")" >

<div align="center">
<font size="1">
	<table  border="1">
  <tr>
    <th  align="center" width="130" #if ($step==1)  bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 1</th>
    <th  align="center"  width="130" #if ($step==2)  bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 2</th>
    <th  align="center" width="130" #if ($step==3) bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 3</th>
  </tr>
 <tr>
    <td align="center"><b>
    #if ($step1Disabled == 'disabled')
    <b>Atlas Register PET and MRI-T1</b>
    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","BuildScreen_StdPIBPreprocessing").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("popup","true").addPathInfo("step","1")" >Atlas Register PET and MRI-T1 </a></b>
    #end
    </td>
    <td align="center">
    #if ($step2Disabled == 'disabled')
    <b> Create ROIS </b>
	    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","BuildScreen_GenPIBCreateRoi").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("popup","true").addPathInfo("content","MPRAGE_222").addPathInfo("step","2")" >Create ROIS </a></b>
    #end    
    </td>
    <td align="center">
    #if ($step3Disabled == 'disabled')
    <b>Run Time Course Analysis </b>
    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","BuildScreen_PIBBuildROI").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("popup","true").addPathInfo("step","3")" >Run Time Course Analysis</a></b>
    #end
    </td>
  </tr>
</table>
</font>
</div>

<br/>


<DIV VALIGN="top">

<br>

<br>

  <table valign="top" width="500" align="center" bgcolor="#FFFFCC" cellpadding="5" BORDER=1 STYLE="	border-collapse: collapse;">

    <tr>

			      <th align ="left">Instructions</th>
    </tr>

    <tr>

			      <td align ="left">
			      	  <ol> <A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","downloadt1_xnat_petSessionData").addPathInfo("search_element","xnat:petSessionData").addPathInfo("search_field","xnat:petSessionData.ID").addPathInfo("search_value",${search_value}).addPathInfo("popup","true").addPathInfo("content","MPRAGE_222")">Download atlas registered T1 images</a>
 and save and unzip the T1 image file and headers</ol>
			      	  <ol> Use Analyze_AVW to create ROI on the downloaded T1 image</ol>
						      	  <ol> Before saving the object file in ANALYZE_AVW, rename the objects by using View -> Objects -> Name -> Done. The name assigned should be &lt;structure name&gt;_L (for left hemisphere) and &lt;structure name&gt;_R (for right hemisphere)  </ol>      	  
			      	  <ol> Create an Analyze img from the Object map file using, File->Save As</ol>
			      	  <ol> Create a zip file consisting of Object map(s) file(s), Object Image File(s), Object Image Header File(s).</ol>
			      	  <ol> Upload this zip file using the Upload button below </ol>
			      </td>

    </tr>

  </table>

</DIV>

<br/>
<br/>



<INPUT TYPE="hidden" name="popup" value="true"/>

<INPUT TYPE="hidden" name="ID" value="$search_value"/>

<INPUT TYPE="hidden" name="relative_path" value="ROIS"/>

<INPUT TYPE="hidden" name="threshhold" value="51516279"/>

<TABLE>

	<TR>

		<TD colspan="3" align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:18px;"><b>Upload Zip file for $item.getProperty("label")</b></font></TD>

	</TR>

	<TR>

		<TD colspan="3" align="right">&nbsp;</TD>

	</TR>

		<TD colspan="3" align="right">&nbsp;</TD>

	</TR>

	
	<TR>

		<TD colspan="3" align="right">&nbsp;</TD>

	</TR>

	<TR>

		<TH align="left">File</TH><TD colspan="2"><input type="file" name="image_archive"/></TD>

	</TR>

	<TR>

		<TD colspan="3" align="right">&nbsp;</TD>

	</TR>

	<TR>
	
	#xdatPassItemFormFields($search_element $search_field $search_value $project)

		<TD colspan="3" align="right"><input type="submit" name="eventSubmit_doPerform" value="Upload"/></TD>

	</TR>

</TABLE>

</form>