##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<TABLE>
	<TR>
		<TD VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
			<b>Enter Search Criteria<b><br>
<TABLE VALIGN="top">
  	<TR>
		<TD COLSPAN=6><b><u>Subject Fields</u></b>&nbsp;&nbsp;&nbsp;&nbsp;<A href="#" ONCLICK="return popupWithProperties('$link.setPage("SearchHelp.vm").addPathInfo("popup","true")','','width=300,height=300,resizable=yes,scrollbars=yes');">Help</a></TD>
  		
	</TR>
  	<TR>
  		<TD>Subject</TD>
  		<INPUT type="hidden" name="xnat:subjectData.COMBO0_FIELDS" value="xnat:subjectData.SUBJECTID_equals,xnat:subjectData.MAP_equals,xnat:subjectData.LAB_ID_equals,xnat:subjectData/label_equals,xnat:subjectData/sharing/share/label_equals"/>
  		<TD>
  			<INPUT size="6" type="text" name="xnat:subjectData.COMBO0" value="$!search.getWebFormValue("xnat:subjectData.COMBO0")"/>
  		</TD>
  		
		<TD>Cohort</TD>
  		<TD>
  			<INPUT size="8" type="text" name="xnat:subjectData.COHORT_equals" value="$!search.getWebFormValue("xnat:subjectData.COHORT_equals")"/>
  		</TD>
  		
  		<TD>Gender</TD>
  		<TD>
  			<select name="xnat:subjectData.GENDER_TEXT_equals">
  				#set($GENDER_TEXT_value=$!search.getWebFormValue("xnat:subjectData.GENDER_TEXT_equals"))
				<option value="" #if($GENDER_TEXT_value=="") SELECTED #end>(SELECT)</option>
	    		<option value="F" #if($GENDER_TEXT_value=="F") SELECTED #end>female</option>
	    		<option value="M" #if($GENDER_TEXT_value=="M") SELECTED #end>male</option>
	    		<option value="O" #if($GENDER_TEXT_value=="O") SELECTED #end>other</option>
	    		<option value="U" #if($GENDER_TEXT_value=="U") SELECTED #end>unknown</option>
			</select>
  		</TD>
  	</TR>
  	<TR>
  		<TD>Age</TD>
  		<TD>
  			<INPUT size="3" type="text" name="xnat:mrSessionData.AGE_equals" value="$!search.getWebFormValue("xnat:mrSessionData.AGE_equals")"/>
  		</TD>
	</TR>
	<TR>
		<TD COLSPAN=6><b><u>Session Fields</u></b></TD>
	</TR>
	<TR>
  		<TD>Session ID</TD>
  		<TD>
  			<INPUT size="10" type="text" name="xnat:mrSessionData.SESSION_ID_equals" value="$!search.getWebFormValue("xnat:mrSessionData.SESSION_ID_equals")"/>
  		</TD>
		
		<TD>Date</TD>
  		<TD>
  			#set($mrElement = $schemaElement.getOtherElement("xnat:mrSessionData"))
  			#xdatSearchField($mrElement $mrElement.getDisplayField("DATE"))
  		</TD>
	</TR>
	<TR>
		<TD COLSPAN=6><b><u>$!schemaElement.getDisplay().getDescription() Fields</u></b></TD>
	</TR>
	<TR>		
        #advancedSearchCreateProjectList($data $displayManager $search $schemaElement)
  		<TD>Anis.</TD>
  		<TD>
  			<INPUT size="6" type="text" name="cnda:dtiData.ANISOTROPY_CSV_equals" value="$!search.getWebFormValue("cnda:dtiData.ANISOTROPY_CSV_equals")"/>
  		</TD>
  		
  		<TD>Diff.</TD>
  		<TD>
  			<INPUT size="6" type="text" name="cnda:dtiData.DIFFUSIVITY_CSV_equals" value="$!search.getWebFormValue("cnda:dtiData.DIFFUSIVITY_CSV_equals")"/>
  		</TD>
	</TR>
</TABLE>
		</TD>
		<TD VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
			<b>... or enter exact IDs.</b><br>
			<TABLE VALIGN="top">
  				<TR>
  					<TD VALIGN="top">
						#set ($fieldName = "${schemaElement.getFullXMLName()}.COMBO0")
			  			<SELECT name="${fieldName}_FIELDS">
			  <option value="${schemaElement.getFullXMLName()}/ID_in,${schemaElement.getFullXMLName()}/label_in,${schemaElement.getFullXMLName()}/sharing/share/label_in" #if($!search.getWebFormValue("${fieldName}_FIELDS")=="${schemaElement.getFullXMLName()}/ID_in,${schemaElement.getFullXMLName()}/label_in,${schemaElement.getFullXMLName()}/sharing/share/label_in")SELECTED#end>ID</option>
			  <option value="xnat:mrSessionData/ID_in,xnat:mrSessionData/label_in,xnat:mrSessionData/sharing/share/label_in" #if($!search.getWebFormValue("${fieldName}_FIELDS")=="xnat:mrSessionData/ID_in,xnat:mrSessionData/label_in,xnat:mrSessionData/sharing/share/label_in")SELECTED#end>SESSION ID</option>
			  				<option value="xnat:subjectData/ID_in,xnat:subjectData/label_in,xnat:subjectData/sharing/share/label_in" #if($!search.getWebFormValue("${fieldName}_FIELDS")=="xnat:subjectData/ID_in,xnat:subjectData/label_in,xnat:subjectData/sharing/share/label_in")SELECTED#end>SUBJECT</option>
			  			</SELECT><BR>
						<TEXTAREA NAME="${fieldName}" COLS=16 ROWS=8>$!search.getWebFormValue("${fieldName}")</TEXTAREA>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>