<script language="Javascript">
 
 var scansToBuild = new Array();
 
 function checkParent(child, key) {
   if (child.checked) {
		var parentCheckBox = document.getElementById("build_"+key);
		if (!parentCheckBox.checked) {
			parentCheckBox.checked = true;
			enableSubmit();
		}
    enableSubmit();
   }
 }
 
  function checkUncheck(boxName,key, totalScans) {
  if(boxName.checked) {
	enableSubmit();	    
 	  
	  for (i=0; i<totalScans; i++) {
		  document.getElementById(key +"_"+i).checked = true;
	  }
  }
  else {
	  for (i=0; i<totalScans; i++) {
		  document.getElementById(key +"_"+i).checked = false;
	  }
 
 }
  }
  
  function disableSubmit() {
	document.getElementById("submitBtn").disabled= true;	    

  }


  function enableSubmit() {
	document.getElementById("submitBtn").disabled=false;	    

  }
  
  function validate() {
    var rtn = true;
    //Check for MPRAGE scans are checked
    for (var index=0; index<scansToBuild.length; index++) {
 	var key = scansToBuild[index].key;  
 	var buildCheckBox = document.getElementById("build_"+key);
	if (!buildCheckBox.checked) {
	   alert("Please select atleast one BOLD Phantom scan ");	  
	    disableSubmit();
	    return false; 
	}else {
	  rtn = isChildSelected(index, key, "Please select atleast one BOLD Phantom scan");	
	  if (!rtn) return rtn;
	}

 	if (buildCheckBox.checked) {
 	 rtn = isChildSelected(index, key, "Please select atleast one scan of type " + key + " or uncheck Include " + key);
 	 if (!rtn) return rtn;
 	}
     }
    return rtn; 	 
  }

  function isChildSelected(index, key, msg) {
	 var total = 	scansToBuild[index].size;
 	  var anychecked = 0;
 	  for(i=0; i<total; i++) { 
 	    if (document.getElementById(key +"_"+i).checked)
 	      anychecked = 1;
           }
           if (anychecked == 0) {
 	     alert(msg);
 	     disableSubmit();
             return false; 
           }  
           return true;
  }
 
</script>

##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">				

#set ($sessionId = $om.getLabel())
#set ($dblQts='"')
<form name="GenericBoldBuildOptions" method="post" action="$link.setAction("BuildAction")"  onsubmit="return validate();">
Please set the parameters required for the QA of the BOLD scans of your study. 
<br/> <br/>
<table>
<tr>
<td>
<b>
  <font face="$ui.sansSerifFonts">
	      Session: $sessionId 
  </font>
</b>
</td>
<td>
<b>
  <font face="$ui.sansSerifFonts">
	      Project: $om.getProject()
  </font>
</b>
</td>
</tr>
</table>
<br/>

#set ($boldkey = "BOLD")
 #set ($boldscanType = $buildableScanTypes.get($boldkey))
  
#set ($disabled="")
#set ($boldScans = $mr.getUnionOfScansByType($boldscanType))
#if ($boldScans.size()==0)
<DIV class="error">This session cannot be processed as there are no BOLD Phantom scans for this session</DIV><br>
#set ($disabled = "disabled")
#end


<table border="0"  bordercolor="#CC3333">
#foreach ( $key in $buildableScanTypes.keySet())
   #set ($scanType = $buildableScanTypes.get($key))
   #set ($scans = $mr.getUnionOfScansByType($scanType))
   #if ($scans.size() > 0)
   <script language="Javascript">	
         var aScanType = {};
         aScanType.key = '$key';
         aScanType.size = $scans.size();
         scansToBuild.push(aScanType);
   </script>
       <tr style="border-style:none">
            <td  style="border-style:none">
                <input type="checkbox" name="build_$key" id="build_$key" checked onclick="checkUncheck(this,'$key', $scans.size())"/>
            </td>
            <td  style="border-style:none">
                <b>Include $key </b>
            </td>
	    <td >	
		  &nbsp;	
	    </td>
        </tr>
       <tr style="border-style:none">
            <td width="300" style="border-style:none" colspan="3">
                <p>&nbsp;&nbsp;Check scans to include in processing:</p>
            </td>
        </tr>
	        	#set ($j = 0)
			#foreach ($scan in $scans)
				<tr  style="border-style:none">
				    <td >
					<p>&nbsp;</p>
				    </td>
				    #if ($scan.getQuality().equalsIgnoreCase("usable"))
					#set ($checked="checked")
				    #else
					#set ($checked="")	
				    #end
				    <td >
				       <input type="checkbox" name="${key}_$j" id="${key}_$j" value="$scan.Id" $checked onclick="checkParent(this,'$key')">$scan.Id (<b>$!scan.getType()</b> Quality: $scan.Quality)
				    </td>
				    <td >
					<p>&nbsp;</p>
				    </td>
				</tr>
			#set ($j = $j + 1)
			#end
	<input type="hidden" name="${key}_rowcount" value="$j">
  #end
 #end
 </table>    
<br/>
<br/>
	
#xdatPassItemFormFields($search_element $search_field $search_value $project)

	<input type="hidden" name="pipelinename" value="birn_tools/fbirn_phantom_64.xml">
	<input type="hidden" name="cmdprefix" value="arc-grid-queue">


#insertCustomPipelineNotification("process")

   <input type="submit" id="submitBtn" $disabled name="eventSubmit_doBirnphantomqa" value="Run processing" />
    			&nbsp;&nbsp;
    <input type="button" ONCLICK="javascript:self.close()" value="Close"/>    			
    <p>&nbsp;</p>
</form>



