<script language="Javascript">
 
 var scansToBuild = new Array();
  
  function validate() {
    var rtn = false;
    for (index in scansToBuild) {
 	var key = scansToBuild[index].key;   
 	var buildCheckBox = document.getElementById("build_"+key);
 	if (buildCheckBox.checked) {
 	  var total = 	scansToBuild[index].size;
 	  var anychecked = 0;
 	  for(i=0; i<total; i++) { 
 	    if (document.getElementById(key +"_"+i).checked)
 	      anychecked = 1;
           }
           if (anychecked == 0) {
 	   alert("Please select atleast one scan of type " + key + " or uncheck Include " + key);	  
            return false; 
           }else rtn = true;
 	}
    }
    return rtn; 	 
  }

 
</script>

##Copyright 2009 Washington University in St Louis All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">				

#set ($sessionId = $om.getLabel())
#set ($dblQts='"')
<form name="GenericDTIBuildOptions" method="post" action="$link.setAction("BuildAction")"  onsubmit="return validate();">
Please set the parameters required for the processing of DTI scans of your study. 
<br/> <br/>
<table>
<tr>
<td>
<b>
  <font face="$ui.sansSerifFonts">
	      Session: $sessionId 
  </font>
</b>
</td>
<td>
<b>
  <font face="$ui.sansSerifFonts">
	      Project: $om.getProject()
  </font>
</b>
</td>
</tr>
</table>
<br/>


<table border=0  bodercolor="#CC3333">
	<tr>
		<td>
			<b>Atlas representative target</b>			
		</td>	
		<td>
			<select name="target">
				#if ($target) 
					<option name="$target" selected>$target</option>
				#end
					<option name="711-2B">711-2B </option>
					<option name="711-2C" >711-2C </option>
					<option name="711-2O">711-2O </option> 
					<option name="711-2Y">711-2Y </option>
					<option name="711-2K">711-2K </option>
					<option name="711-2L">711-2L </option>
			</select>
		</td>	
	</tr>
</table>

<br/>


<table border="0"  bordercolor="#CC3333">
#foreach ( $key in $buildableScanTypes.keySet())
   #set ($scanType = $buildableScanTypes.get($key))
   #set ($scans = $mr.getUnionOfScansByType($scanType))
   #if ($scans.size() > 0)
   <script language="Javascript">	
         var aScanType = {};
         aScanType.key = '$key';
         aScanType.size = $scans.size();
         scansToBuild.push(aScanType);
   </script>
       <tr style="border-style:none">
            <td  style="border-style:none">
                <input type="checkbox" name="build_$key" checked />
            </td>
            <td  style="border-style:none">
                <b>Include $key </b>
            </td>
	    <td >	
		  &nbsp;	
	    </td>
        </tr>
       <tr style="border-style:none">
            <td width="300" style="border-style:none" colspan="3">
                <p>&nbsp;&nbsp;Check scans to include in processing:</p>
            </td>
        </tr>
        #if (!$key.equals("DWI"))
	        	#set ($j = 0)
			#foreach ($scan in $scans)
				<tr  style="border-style:none">
				    <td >
					<p>&nbsp;</p>
				    </td>
				    #if ($scan.getQuality().equalsIgnoreCase("usable"))
					#set ($checked="checked")
				    #else
					#set ($checked="")	
				    #end
				    <td >
				       <input type="checkbox" name="${key}_$j" value="$scan.Id" $checked>$scan.Id (<b>$!scan.getType()</b> Quality: $scan.Quality)
				    </td>
				    <td >
					<p>&nbsp;</p>
				    </td>
				</tr>
			#set ($j = $j + 1)
			#end
	#else
	        	#set ($j = 0)
			#foreach ($scan in $scans)
				<tr  style="border-style:none">
				    <td >
					<p>&nbsp;</p>
				    </td>
				    #if ($scan.getQuality().equalsIgnoreCase("usable"))
					#set ($checked="checked")
				    #else
					#set ($checked="")	
				    #end
				    <td >
				       <input type="checkbox" name="${key}_$j" value="$scan.Id" $checked>$scan.Id (<b>$!scan.getType()</b> Quality: $scan.Quality)
				    </td>
				    <td >
					<p>&nbsp;</p>
				    </td>
				</tr>
			#set ($j = $j + 1)
			#end
			#if ($j > 0)
			<tr> <td colspan="3" align="left">
			<div id="dti_processing_params" style="display=block;">
			   <table>	
				<tr  style="border-style:none">
				    <td colspan="2">Parameters for  Build</td>
				</tr>
				<tr  style="border-style:none">
				#set ($dtiprmName = "dtiprm")
				#set ($dtiprm = $projectSettings.get($dtiprmName).getCsvvalues())
				    <td >DTI bvec file</td>
				    <td ><select name="dtiprm">
					    #if ($dtiprm) 
						<option name="$dtiprm" selected>$dtiprm</option>
					    #end
				    	    <option value="/data/petsun4/data1/solaris/DiffVec_1400_25dirplusB0.prm">Param file for 25 Directional acquisition with B0 and BMax=1400</option>
				    	    <option value="/data/petsun4/data1/solaris/DiffVec_1400_25dirnoB0.prm">Param file for 25 Directional acquisition without B0 and BMax=1400</option>
				    	    <option value="/data/petsun4/data1/solaris/DiffVec_1000_25dirnoB0.prm">Param file for 25 Directional acquisition with B0 and BMax=1000</option>
				    	    <option value="/data/petsun4/data1/solaris/DiffVec_1000_25dirplusB0.prm">Param file for 25 Directional acquisition without B0 and BMax=1000</option>
				    	 </select>
				    </td>
				</tr>
				<tr  style="border-style:none">
				    #set ($grpstrName = "grpstr")
				    #set ($grpstr = $projectSettings.get($grpstrName).getCsvvalues())
				    <td >Groupings for cross aligning DWI scans </td>
				    <td >
				    	<select name="grpstr">
					    #if ($grpstr) 
						<option name="$grpstr" selected>$grpstr</option>
					    #end
					    <option value="-g6,11,16 -g2,7,21 -g3,12,17,22 -g4,8,9,13,14,18,23  -g5,10,15,19,20,24,25">Grouping for 25 Directional acquisition with B0</option>
					    <option value="-g1,7,12,17 -g3,8,22 -g4,13,18,23 -g5,9,10,14,15,19,24 -g6,11,16,20,21,25,26">Grouping for 25 Directional acquisition without B0</option>
				    	 </select>
				    
				    </td>
				</tr>
				#set ($eigenvalues = "eigenvalues")
				#set ($checked = "")
				#set ($val = $projectSettings.get($eigenvalues).getCsvvalues())
				#if ($val)
				  #set ($checked = "checked")
				#end
				<tr  style="border-style:none">
				    <td >Output eigenvalues</td>
				    <td ><input type="checkbox" name=$dblQts$eigenvalues$dblQts $checked ></td>
				</tr>
				#set ($fractional_anisotropy = "fractional_anisotropy")
				#set ($checked = "")
				#set ($val = $projectSettings.get($fractional_anisotropy).getCsvvalues())
				#if ($val)
				  #set ($checked = "checked")
				#end
				<tr  style="border-style:none">
				    <td >Output Fractional Anisotropy</td>
				    <td ><input type="checkbox" name=$dblQts$fractional_anisotropy$dblQts $checked ></td>
				</tr>
			  </table>
			</div>
			</td></tr>
			#end
	#end
	<input type="hidden" name="${key}_rowcount" value="$j">
  #end
 #end
 </table>    
<br/>
<br/>
	
#xdatPassItemFormFields($search_element $search_field $search_value $project)

	<input type="hidden" name="pipelinename" value="build-tools/GenericDTIProcessing.xml">
	<input type="hidden" name="cmdprefix" value="arc-grid-queue">


#insertCustomPipelineNotification("process")

   <input type="submit" name="eventSubmit_doGenericdtiprocessing" value="Run processing" />
    			&nbsp;&nbsp;
    <input type="button" ONCLICK="javascript:self.close()" value="Close"/>    			
    <p>&nbsp;</p>
</form>



