$page.setTitle("Edit ADOS Module 4 Summary Scores")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#set($int_note_vals=["-999","N/A","N/R","N/K"])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ADOS Module 4 Assessment #if($om.getId()) Modification Form #else Creation Form #end</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
    		<table width="100%">
			   <TR><TD>	
				#parse("/screens/ProjSubjExptHeader.vm")
    			</TD></TR>
               <TR><TD>	
				
			   </TD></TR>
				<TR>
					<TD width="35%" align="left">Assessment Date</TD>
					<TD align="left">#xdatDateBox("ados:ados2001Module4Data/date" $item $vr $years)</TD>
				</TR>
    		</TABLE>
        </TD>
	</TR>
	<TR>
		<TD valign="top">
			<TABLE>
				<TR>
					<TH width="35%" align="left">Description</TH>
					<TH width="20%" align="left">Value</TH>
					<TH align="left">&nbsp;Notation</TH>				
				</TR>
				<TR>
					<TD align="left">Communication Total</TD>
					<TD>#xdatTextBox("ados:ados2001Module4Data/commtot" $item "" $vr)</TD>
					<TD>#xdatSelectBoxWSingleValue("ados:ados2001Module4Data/commtot_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD align="left">Social Interaction Total</TD>
					<TD>#xdatTextBox("ados:ados2001Module4Data/scintot" $item "" $vr)</TD>
					<TD>#xdatSelectBoxWSingleValue("ados:ados2001Module4Data/scintot_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD align="left">Communication + Social Interaction Total</TD>
					<TD>#xdatTextBox("ados:ados2001Module4Data/cmsitot" $item "" $vr)</TD>
					<TD>#xdatSelectBoxWSingleValue("ados:ados2001Module4Data/cmsitot_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD align="left">Play Total</TD>
					<TD>#xdatTextBox("ados:ados2001Module4Data/playtot" $item "" $vr)</TD>
					<TD>#xdatSelectBoxWSingleValue("ados:ados2001Module4Data/playtot_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD align="left">Imagination/Creativity Total</TD>
					<TD>#xdatTextBox("ados:ados2001Module4Data/imaginetot" $item "" $vr)</TD>
					<TD>#xdatSelectBoxWSingleValue("ados:ados2001Module4Data/imaginetot_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD align="left">Stereotyped Behaviors and Restrictive Interests Total</TD>
					<TD>#xdatTextBox("ados:ados2001Module4Data/sbritot" $item "" $vr)</TD>
					<TD>#xdatSelectBoxWSingleValue("ados:ados2001Module4Data/sbritot_note" $item $int_note_vals $vr)</TD>
				</TR>
				<TR>
					<TD align="left">Classification (as given on the ADOS)</TD>
					<TD>#xdatStringBox("ados:ados2001Module4Data/ScoreForm/diagnosis/adosclas" $item "" $vr)</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   if (validateSubjectAssessorForm()) {
      document.getElementById("form1").submit();
   }
   //validateSubject();
   return true; 
}

function validateSubjectAssessorForm()
{
   var elementName="$!item.getXSIType()";
   var matchesDIV = document.getElementById(elementName+"/subject_id");  
   var subject = matchesDIV.value;
   if (subject=="")
   {
     //window.manager.showOption1();
     alert("Please select a subject before proceeding.");
     return false;
   } 
   matchesDIV = document.getElementById(elementName+"/project");  
   var project = matchesDIV.value;
   if (project=="")
   {
     //window.manager.showOption1();
     alert("Please select a project before proceeding.");
     return false;
   } 
   return true;
}
</script>
