$page.setTitle("B7FAQ")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Exam Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($BILLS = $item.getStringProperty("BILLS"))
	#if ( "-4" != $BILLS )
		<tr>
			<th width="400px">Writing checks, paying bills, or balancing a checkbook.</th>
			<td>
				$BILLS 
				#if ($BILLS == "8")
					- Not applicable (e.g., never did)
				#elseif ($BILLS == "0")
					- Normal
				#elseif ($BILLS == "1")
					- Has difficultly, but does by self
				#elseif ($BILLS == "2")
					- Requires assistance
				#elseif ($BILLS == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($TAXES = $item.getStringProperty("TAXES"))
	#if ( "-4" != $TAXES )
		<tr>
			<th width="400px">Assembling tax records, business affairs, or other papers.</th>
			<td>
				$TAXES 
				#if ($TAXES == "8")
					- Not applicable (e.g., never did)
				#elseif ($TAXES == "0")
					- Normal
				#elseif ($TAXES == "1")
					- Has difficultly, but does by self
				#elseif ($TAXES == "2")
					- Requires assistance
				#elseif ($TAXES == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($SHOPPING = $item.getStringProperty("SHOPPING"))
	#if ( "-4" != $SHOPPING )
		<tr>
			<th width="400px">Shopping alone for clothes, household necessities, or groceries.</th>
			<td>
				$SHOPPING 
				#if ($SHOPPING == "8")
					- Not applicable (e.g., never did)
				#elseif ($SHOPPING == "0")
					- Normal
				#elseif ($SHOPPING == "1")
					- Has difficultly, but does by self
				#elseif ($SHOPPING == "2")
					- Requires assistance
				#elseif ($SHOPPING == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($GAMES = $item.getStringProperty("GAMES"))
	#if ( "-4" != $GAMES )
		<tr>
			<th width="400px">Playing a game of skill such as bridge or chess, working on a hobby.</th>
			<td>
				$GAMES 
				#if ($GAMES == "8")
					- Not applicable (e.g., never did)
				#elseif ($GAMES == "0")
					- Normal
				#elseif ($GAMES == "1")
					- Has difficultly, but does by self
				#elseif ($GAMES == "2")
					- Requires assistance
				#elseif ($GAMES == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($STOVE = $item.getStringProperty("STOVE"))
	#if ( "-4" != $STOVE )
		<tr>
			<th width="400px">Heating water, making a cup of coffee, turning off the stove.</th>
			<td>
				$STOVE 
				#if ($STOVE == "8")
					- Not applicable (e.g., never did)
				#elseif ($STOVE == "0")
					- Normal
				#elseif ($STOVE == "1")
					- Has difficultly, but does by self
				#elseif ($STOVE == "2")
					- Requires assistance
				#elseif ($STOVE == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($MEALPREP = $item.getStringProperty("MEALPREP"))
	#if ( "-4" != $MEALPREP )
		<tr>
			<th width="400px">Preparing a balanced meal.</th>
			<td>
				$MEALPREP 
				#if ($MEALPREP == "8")
					- Not applicable (e.g., never did)
				#elseif ($MEALPREP == "0")
					- Normal
				#elseif ($MEALPREP == "1")
					- Has difficultly, but does by self
				#elseif ($MEALPREP == "2")
					- Requires assistance
				#elseif ($MEALPREP == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($EVENTS = $item.getStringProperty("EVENTS"))
	#if ( "-4" != $EVENTS )
		<tr>
			<th width="400px">Keeping track of current events.</th>
			<td>
				$EVENTS 
				#if ($EVENTS == "8")
					- Not applicable (e.g., never did)
				#elseif ($EVENTS == "0")
					- Normal
				#elseif ($EVENTS == "1")
					- Has difficultly, but does by self
				#elseif ($EVENTS == "2")
					- Requires assistance
				#elseif ($EVENTS == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($PAYATTN = $item.getStringProperty("PAYATTN"))
	#if ( "-4" != $PAYATTN )
		<tr>
			<th width="400px">Paying attention to and understanding a TV program, book, or magazine.</th>
			<td>
				$PAYATTN 
				#if ($PAYATTN == "8")
					- Not applicable (e.g., never did)
				#elseif ($PAYATTN == "0")
					- Normal
				#elseif ($PAYATTN == "1")
					- Has difficultly, but does by self
				#elseif ($PAYATTN == "2")
					- Requires assistance
				#elseif ($PAYATTN == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($REMDATES = $item.getStringProperty("REMDATES"))
	#if ( "-4" != $REMDATES )
		<tr>
			<th width="400px">Remembering appointments, family occasions, holidays, medications.</th>
			<td>
				$REMDATES 
				#if ($REMDATES == "8")
					- Not applicable (e.g., never did)
				#elseif ($REMDATES == "0")
					- Normal
				#elseif ($REMDATES == "1")
					- Has difficultly, but does by self
				#elseif ($REMDATES == "2")
					- Requires assistance
				#elseif ($REMDATES == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end
	#set ($TRAVEL = $item.getStringProperty("TRAVEL"))
	#if ( "-4" != $TRAVEL )
		<tr>
			<th width="400px">Traveling out of the neighborhood, driving, or arranging to take public transportation.</th>
			<td>
				$TRAVEL 
				#if ($TRAVEL == "8")
					- Not applicable (e.g., never did)
				#elseif ($TRAVEL == "0")
					- Normal
				#elseif ($TRAVEL == "1")
					- Has difficultly, but does by self
				#elseif ($TRAVEL == "2")
					- Requires assistance
				#elseif ($TRAVEL == "3")
					- Dependent
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
