<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("LS_Neuropsych Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>LS_Neuropsych Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
		<TD valign="top" align="right" rowspan=2>
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
			<TD>
			#set($part = $om.SubjectData)
				<HR>
				<TABLE align="left">
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Experiment Info</b></font><BR><BR></TH></TR>
					<TR><TH align="left" width=200>Date: </TH><TD>$!item.getProperty("${search_element}.date")</TD></TR>
					<TR><TH align="left">Investigator: </TH><TD>$!item.getProperty("${search_element}.investigator.title") $!item.getProperty("${search_element}.investigator.firstname") $!item.getProperty("${search_element}.investigator.lastname")</TD></TR>
					<TR><TH align="left">Participant: </TH><TD>
					#set($part_id = $!part.getProperty("ID"))
					#set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:subjectData').addPathInfo('search_field','xnat:subjectData.ID').addPathInfo('search_value',$!part_id).addPathInfo('popup','true')', '','600','800');" )
					<A CLASS=b href="#" onClick="$click">$!part.MapOrLab</A></TD></TR>
					<TR align="left"><TH ALIGN="left">Gender: </TH><TD>$part.GenderText</TD></TR>
					#if($!item.getProperty("${search_element}.date"))
					<TR align="left"><TH ALIGN="left">Age:</TH><TD>$!part.getAge($!item.getProperty("${search_element}.date"))</TD></TR>
					#else
					<TR align="left"><TH ALIGN="left">Age:</TH><TD>--</TD></TR>
					#end
				</TABLE>
			</TD>
		</TR>
		<TR>
			<TD>
				<TABLE border=0 WIDTH=100%>
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><BR><b>Details</b></font><BR></TH></TR>
					
							<TR><TD>testStatus/tasksMissing</TD><TD>$!item.getStringProperty("ls2:lsNeuropsychData/testStatus/tasksMissing")</TD></TR>
							<TR><TD>testStatus/complete</TD><TD>$!item.getStringProperty("ls2:lsNeuropsychData/testStatus/complete")</TD></TR>
							<TR><TD>source</TD><TD>$!item.getStringProperty("ls2:lsNeuropsychData/source")</TD></TR>
							<TR><TD>oasisDate</TD><TD>$!item.getProperty("ls2:lsNeuropsychData/oasisDate")</TD></TR>
							<TR><TD>MMSE</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/MMSE")</TD></TR>
							<TR><TD>Blessed</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/Blessed")</TD></TR>
							<TR><TD>CVLT_II/c_ta1</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_ta1")</TD></TR>
							<TR><TD>CVLT_II/c_ta5</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_ta5")</TD></TR>
							<TR><TD>CVLT_II/c_total</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_total")</TD></TR>
							<TR><TD>CVLT_II/c_listb</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_listb")</TD></TR>
							<TR><TD>CVLT_II/c_sdfree</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_sdfree")</TD></TR>
							<TR><TD>CVLT_II/c_sdcue</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_sdcue")</TD></TR>
							<TR><TD>CVLT_II/c_ldfree</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_ldfree")</TD></TR>
							<TR><TD>CVLT_II/c_ldcue</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_ldcue")</TD></TR>
							<TR><TD>CVLT_II/c_semclu</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_semclu")</TD></TR>
							<TR><TD>CVLT_II/c_serclu</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_serclu")</TD></TR>
							<TR><TD>CVLT_II/c_primac</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_primac")</TD></TR>
							<TR><TD>CVLT_II/c_middle</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_middle")</TD></TR>
							<TR><TD>CVLT_II/c_recenc</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_recenc")</TD></TR>
							<TR><TD>CVLT_II/c_slope</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_slope")</TD></TR>
							<TR><TD>CVLT_II/c_consis</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_consis")</TD></TR>
							<TR><TD>CVLT_II/c_proint</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_proint")</TD></TR>
							<TR><TD>CVLT_II/c_retroint</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_retroint")</TD></TR>
							<TR><TD>CVLT_II/c_persev</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_persev")</TD></TR>
							<TR><TD>CVLT_II/c_intrus</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_intrus")</TD></TR>
							<TR><TD>CVLT_II/c_tiri</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_tiri")</TD></TR>
							<TR><TD>CVLT_II/c_tdri</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_tdri")</TD></TR>
							<TR><TD>CVLT_II/c_tfri</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_tfri")</TD></TR>
							<TR><TD>CVLT_II/c_tcri</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_tcri")</TD></TR>
							<TR><TD>CVLT_II/c_tcnci</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_tcnci")</TD></TR>
							<TR><TD>CVLT_II/c_tssi</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_tssi")</TD></TR>
							<TR><TD>CVLT_II/c_tali</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_tali")</TD></TR>
							<TR><TD>CVLT_II/c_trd</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_trd")</TD></TR>
							<TR><TD>CVLT_II/c_ird</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_ird")</TD></TR>
							<TR><TD>CVLT_II/c_drd</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_drd")</TD></TR>
							<TR><TD>CVLT_II/c_frd</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_frd")</TD></TR>
							<TR><TD>CVLT_II/c_crd</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_crd")</TD></TR>
							<TR><TD>CVLT_II/c_rechits</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/CVLT_II/c_rechits")</TD></TR>
							<TR><TD>CVLT_II/c_recfp</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_recfp")</TD></TR>
							<TR><TD>CVLT_II/c_recdisc</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_recdisc")</TD></TR>
							<TR><TD>CVLT_II/c_bias</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/CVLT_II/c_bias")</TD></TR>
							<TR><TD>temporalOrderMemory/TOM_recall</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/temporalOrderMemory/TOM_recall")</TD></TR>
							<TR><TD>temporalOrderMemory/TOM_hits</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/temporalOrderMemory/TOM_hits")</TD></TR>
							<TR><TD>temporalOrderMemory/TOM_fa</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/temporalOrderMemory/TOM_fa")</TD></TR>
							<TR><TD>temporalOrderMemory/TOM_discrim</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/temporalOrderMemory/TOM_discrim")</TD></TR>
							<TR><TD>WMS_III/verbalPairedAssociates/vpa_im</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WMS_III/verbalPairedAssociates/vpa_im")</TD></TR>
							<TR><TD>WMS_III/verbalPairedAssociates/vpa_del</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WMS_III/verbalPairedAssociates/vpa_del")</TD></TR>
							<TR><TD>WMS_III/verbalPairedAssociates/vpa_recog</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WMS_III/verbalPairedAssociates/vpa_recog")</TD></TR>
							<TR><TD>WMS_III/logicalMemory/lm_im</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WMS_III/logicalMemory/lm_im")</TD></TR>
							<TR><TD>WMS_III/logicalMemory/lm_del</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WMS_III/logicalMemory/lm_del")</TD></TR>
							<TR><TD>WMS_III/logicalMemory/lm_recog</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WMS_III/logicalMemory/lm_recog")</TD></TR>
							<TR><TD>WMS_III/aud_rec_delay</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WMS_III/aud_rec_delay")</TD></TR>
							<TR><TD>WMS_III/lnSeq</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WMS_III/lnSeq")</TD></TR>
							<TR><TD>digSym</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/digSym")</TD></TR>
							<TR><TD>dotComparison/dcomp1</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/dotComparison/dcomp1")</TD></TR>
							<TR><TD>dotComparison/dcomp2</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/dotComparison/dcomp2")</TD></TR>
							<TR><TD>dotComparison/dcomp3</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/dotComparison/dcomp3")</TD></TR>
							<TR><TD>dotComparison/dcompa</TD><TD>$!item.getDoubleProperty("ls2:lsNeuropsychData/dotComparison/dcompa")</TD></TR>
							<TR><TD>trailMaking/tma</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/trailMaking/tma")</TD></TR>
							<TR><TD>trailMaking/tmb</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/trailMaking/tmb")</TD></TR>
							<TR><TD>buildMem</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/buildMem")</TD></TR>
							<TR><TD>Stroop/strpc</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/Stroop/strpc")</TD></TR>
							<TR><TD>Stroop/strpw</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/Stroop/strpw")</TD></TR>
							<TR><TD>Stroop/strpcw</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/Stroop/strpcw")</TD></TR>
							<TR><TD>Stroop/strpint</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/Stroop/strpint")</TD></TR>
							<TR><TD>pf_a</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/pf_a")</TD></TR>
							<TR><TD>sf_round</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/sf_round")</TD></TR>
							<TR><TD>Shipley</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/Shipley")</TD></TR>
							<TR><TD>wjIII_lwi</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/wjIII_lwi")</TD></TR>
							<TR><TD>WASI/wasi_vocab</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WASI/wasi_vocab")</TD></TR>
							<TR><TD>WASI/wasi_mr</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WASI/wasi_mr")</TD></TR>
							<TR><TD>WASI/wasi_sim</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WASI/wasi_sim")</TD></TR>
							<TR><TD>WASI/wasi_bd</TD><TD>$!item.getIntegerProperty("ls2:lsNeuropsychData/WASI/wasi_bd")</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
			
