<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("RadiationTreatment Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end

<style type="text/css">
	.report th { text-align: left; }
	.standard { width: 400px; }
	.report, .report td, .report th { border: 1px solid gray; border-collapse:collapse; }
</style>

<TABLE width="100%">
	<tr>
		<td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
			
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<TR>
		<TD align="left" valign="middle">
			<font face="$ui.sansSerifFonts" size="3"><b>Radiation Treatment Details</b></font>
		</TD>
	</TR>
	<TR>
		<TD valign="top">
			<TABLE class="standard report">
				<TR><TD>Site:</TD><TD>$!item.getStringProperty("tx:radiationTreatment/acquisition_site")</TD></TR>
				<TR><TD>Type:</TD><TD>$!item.getStringProperty("tx:radiationTreatment/type")</TD></TR>
				<TR><TD>Prescribed Dose:</TD><TD>$!item.getDoubleProperty("tx:radiationTreatment/dose") cGy</TD></TR>
				<TR><TD>Fractions:</TD><TD>$!item.getStringProperty("tx:radiationTreatment/timing")</TD></TR>
				<TR><TD>Completed:</TD><TD>$!item.getBooleanProperty("tx:radiationTreatment/completed")</TD></TR>
				<TR><TD>Incomplete Reason:</TD><TD>$!item.getStringProperty("tx:radiationTreatment/incompleteReason")</TD></TR>
				<TR><TD>Dose Administered:</TD><TD>$!item.getStringProperty("tx:radiationTreatment/incompleteExtent")</TD></TR>
				<TR><TD>Incomplete Notes:</TD><TD>$!item.getStringProperty("tx:radiationTreatment/completedNotes")</TD></TR>
				<TR><TD>Start Date:</TD><TD>#xdatViewDateNotReported("tx:radiationTreatment/startDate" $item)</TD></TR>
				<TR><TD>End Date:</TD><TD>#xdatViewDateNotReported("tx:radiationTreatment/endDate" $item)</TD></TR>
				<TR><TD>Clinical Trial Name:</TD><TD>$!item.getStringProperty("tx:radiationTreatment/clinicalTrialName")</TD></TR>
				<TR><TD>Clinical Trial Arm:</TD><TD>$!item.getStringProperty("tx:radiationTreatment/clinicalTrialArm")</TD></TR>
			</TABLE>
		</TD>
		<TD valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
