##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<TABLE width="100%" align="left" valign="top" border=0>
	<TR>
		<TD width="450" align="left">
			<h2></h2>
			<TABLE width="100%">
				<TR>
					<TD align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:20px;"><b>nWBV</b></font></TD>
				</TR>
			</TABLE>
			
	<P><TABLE align="left" width="100%">
		<TR>
			<TD>
				<HR>
				<TABLE align="left">
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Experiment Info</b></font><BR><BR></TH></TR>
							#parse($turbineUtils.getTemplateName("_summary",$om.getXSIType(),$project))
				</TABLE>
			</TD>
		</TR>
		<TR>
			<TD>
				<HR>
				<TABLE>
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Details</b></font><BR><BR></TH></TR>
					<TR><TH align="left" width=200>Image File:</TH><TD>$!om.getIn_file().get(0).getUri()</TD></TR>
					<TR><TH align="left" width=200>Csf:</TH><TD>$!om.getBrainvolume().getSubRegionByName("CSF").getVoxels()</TD></TR>
					<TR><TH align="left" width=200>Grey:</TH><TD>$!om.getBrainvolume().getSubRegionByName("Grey").getVoxels()</TD></TR>
					<TR><TH align="left" width=200>White:</TH><TD>$!om.getBrainvolume().getSubRegionByName("White").getVoxels()</TD></TR>
					<TR><TH align="left" width=200>Brain Percent:</TH><TD>$!om.NWBV</TD></TR>
				</TABLE>
			</TD>
		</TR>
	</TABLE></P>
		</TD>
		<TD valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>
</TABLE>