$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()

#set($exitReasons = [ "Death", "Withdrawal" ])
#set($pathologicDiagnosisTypes = ["Primary Brain Tumor", "Metastatic Solid Brain Tumor", "Hematologic Malignancy"])
#set($autopsiedOptions = ["Yes", "No", "Not Reported"])

<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/yui/build/calendar/calendar-min.js')"></SCRIPT>
<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/yui/build/calendar/assets/skins/sam/calendar.css')">
#cndaMacroJavascript()

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<script type="text/javascript">
var elementName="$!item.getXSIType()";
window.currentID="$!om.getId()";
	#if($om.getProject())
	 #if($om.getProject().equals(""))
window.currentProject="$!project";
	 #else
window.currentProject="$!om.getProject()";
	 #end
	#else
window.currentProject="$!project";
	#end

window.currentSubject="$!om.getSubjectId()";
window.currentLabel="$!om.getLabel()";
</script>

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Enrollment Status Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE>
				<TR><TD colspan='2'>
				 <input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>                
					#if($om.getId())
						#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
					#else
						#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
					#end
				</TD></TR>
			    <tr>
                    <td colspan="2">
                        #parse("/screens/EditProjectSpecificFields.vm")
                    </td>
                </tr>
				
				<TR><TD>Site:</TD><TD>#xdatStringBox("sf:enrollmentStatus/acquisition_site" $item "" $vr)</TD></TR>
				
				<TR><TD colspan='2'>&nbsp;</TD></TR>
				
				<TR><TD>Enrollment Date:</TD><TD>
##					#xdatDateBox("sf:enrollmentStatus/enrollmentDate" $item $vr $years)
					<input type="text" id="sf:enrollmentStatus/enrollmentDate" name="sf:enrollmentStatus/enrollmentDate" #if($om.getProperty("sf:enrollmentStatus/enrollmentDate")) value='$turbineUtils.formatDate($!om.getDateProperty("sf:enrollmentStatus/enrollmentDate"),"MM/dd/yyyy")' #end/>
					<script type="text/javascript">
					insertCalendar(document.getElementById("sf:enrollmentStatus/enrollmentDate"),"Enrollment Date");
										
					var dateElem = document.getElementById("sf:enrollmentStatus/enrollmentDate")
										
					if (dateElem.addEventListener) {
						eval("dateElem.addEventListener('change', function() {updateDate()}, false)");
					} else {
						eval("dateElem.attachEvent('onchange', function() {updateDate()})");
					}
					</script>				
				</TD></TR>
				
				<TR><TD colspan='2'>&nbsp;</TD></TR>
				
				<TR><TD>Date of Brain Tumor Diagnosis:</TD><TD>
##					#xdatDateBox("sf:enrollmentStatus/initialDiagnosisDate" $item $vr $years)
					<input type="text" id="sf:enrollmentStatus/initialDiagnosisDate" name="sf:enrollmentStatus/initialDiagnosisDate" #if($om.getProperty("sf:enrollmentStatus/initialDiagnosisDate")) value='$turbineUtils.formatDate($!om.getDateProperty("sf:enrollmentStatus/initialDiagnosisDate"),"MM/dd/yyyy")' #end/>
					<script type="text/javascript">
					insertCalendar(document.getElementById("sf:enrollmentStatus/initialDiagnosisDate"),"Initial Diagnosis Date");
										
					var dateElem = document.getElementById("sf:enrollmentStatus/initialDiagnosisDate")
										
					if (dateElem.addEventListener) {
						eval("dateElem.addEventListener('change', function() {updateDate()}, false)");
					} else {
						eval("dateElem.attachEvent('onchange', function() {updateDate()})");
					}
					</script>
				</TD></TR>
				<TR><TD>Initial Diagnosis:</TD><TD>#xdatTextArea("sf:enrollmentStatus/initialDiagnosis" $item "" $vr 4 50)</TD></TR>
				
				<TR><TD colspan='2'>&nbsp;</TD></TR>
				
				<TR><TD>Pathologic Diagnosis:</TD><TD>
					#cndaBooleanRadioYesNo("sf:enrollmentStatus/pathologicDiagnosis" $item "" 'displayPathologicData' $vr)
				</TD></TR>
				<TR id="row1"><TD>
					Pathologic Diagnosis<br>Type:
				</TD><TD>
					#xdatSelectBoxWSingleValue("sf:enrollmentStatus/pathologicDiagnosisType" $item $pathologicDiagnosisTypes $vr)
				</TD></TR>
				<TR id="row2"><TD>
					Patholigic Diagnosis<br>
					Date:
				</TD><TD>
					<input type="text" id="sf:enrollmentStatus/pathologicDiagnosisDate" name="sf:enrollmentStatus/pathologicDiagnosisDate" #if($om.getProperty("sf:enrollmentStatus/pathologicDiagnosisDate")) value='$turbineUtils.formatDate($!om.getDateProperty("sf:enrollmentStatus/pathologicDiagnosisDate"),"MM/dd/yyyy")' #end/>
					<script type="text/javascript">
					insertCalendar(document.getElementById("sf:enrollmentStatus/pathologicDiagnosisDate"),"Patholigic Diagnosis Date");
										
					var dateElem = document.getElementById("sf:enrollmentStatus/pathologicDiagnosisDate")
										
					if (dateElem.addEventListener) {
						eval("dateElem.addEventListener('change', function() {updateDate()}, false)");
					} else {
						eval("dateElem.attachEvent('onchange', function() {updateDate()})");
					}
					</script>
				</TD></TR>
				<TR id="row3"><TD>
					Previously Treated:
				</TD><TD>
##					#cndaRadioYesNoSimple("sf:enrollmentStatus/previouslyTreated" $item "" $vr)
					#cndaBooleanRadioYesNo("sf:enrollmentStatus/previouslyTreated" $item "" 'displayDetailsPriorToEnrollment' $vr)
				</TD></TR>
				<TR id="row4"><TD>Details Prior<br>To Enrollment:</TD><TD>#xdatTextArea("sf:enrollmentStatus/detailsPriorToEnrollment" $item "" $vr 4 50)</TD></TR>
				
				<TR id="row5"><TD>
					Recurrent At Enrollment:
				</TD><TD>
##					#cndaRadioYesNoSimple("sf:enrollmentStatus/recurrentAtEnrollment" $item "" $vr)
					#cndaBooleanRadioYesNo("sf:enrollmentStatus/recurrentAtEnrollment" $item "" 'displayRecurrentAtEnrollmentNotes' $vr)
				</TD></TR>
				<TR id="row6"><TD>Recurrent At Enrollment Notes:</TD><TD>#xdatTextArea("sf:enrollmentStatus/recurrentAtEnrollmentNotes" $item "" $vr 4 50)</TD></TR>
								
				<TR><TD colspan='2'>&nbsp;</TD></TR>
				
				<TR><TD>Exit Date:</TD><TD>
##					#xdatDateBox("sf:enrollmentStatus/exitDate" $item $vr $years)
					<input type="text" id="sf:enrollmentStatus/exitDate" name="sf:enrollmentStatus/exitDate" #if($om.getProperty("sf:enrollmentStatus/exitDate")) value='$turbineUtils.formatDate($!om.getDateProperty("sf:enrollmentStatus/exitDate"),"MM/dd/yyyy")' #end/>
					<script type="text/javascript">
					insertCalendar(document.getElementById("sf:enrollmentStatus/exitDate"),"Exit Date");
										
					var dateElem = document.getElementById("sf:enrollmentStatus/exitDate")
										
					if (dateElem.addEventListener) {
						eval("dateElem.addEventListener('change', function() {updateDate()}, false)");
					} else {
						eval("dateElem.attachEvent('onchange', function() {updateDate()})");
					}
					</script>
				</TD></TR>
				<TR><TD>Exit Reason:</TD><TD>#xdatSelectBoxWSingleValue("sf:enrollmentStatus/exitReason" $item $exitReasons $vr)</TD></TR>
				<TR><TD>Exit Notes:</TD><TD>#xdatTextArea("sf:enrollmentStatus/exitNotes" $item "" $vr 4 50)</TD></TR>
				
				<TR><TD colspan='2'>&nbsp;</TD></TR>
				
				<TR><TD>Death Date:</TD><TD>
##					#xdatDateBox("sf:enrollmentStatus/deathDate" $item $vr $years)
					<input type="text" id="sf:enrollmentStatus/deathDate" name="sf:enrollmentStatus/deathDate" #if($om.getProperty("sf:enrollmentStatus/deathDate")) value='$turbineUtils.formatDate($!om.getDateProperty("sf:enrollmentStatus/deathDate"),"MM/dd/yyyy")' #end/>
					<script type="text/javascript">
					insertCalendar(document.getElementById("sf:enrollmentStatus/deathDate"),"Exit Date");
										
					var dateElem = document.getElementById("sf:enrollmentStatus/deathDate")
										
					if (dateElem.addEventListener) {
						eval("dateElem.addEventListener('change', function() {updateDate()}, false)");
					} else {
						eval("dateElem.attachEvent('onchange', function() {updateDate()})");
					}
					</script>
				</TD></TR>
##				<TR><TD>Autopsied:</TD><TD>#xdatBooleanRadioYesNo("sf:enrollmentStatus/autopsied" $item false $vr)</TD></TR>
				<TR><TD>Autopsied:</TD><TD>#xdatRadioButtonGroup("sf:enrollmentStatus/autopsiedOptions" $item $autopsiedOptions $vr)</TD></TR>
				
				<TR><TD>Autopsy Notes:</TD><TD>#xdatTextArea("sf:enrollmentStatus/autopsyNotes" $item "" $vr 4 50)</TD></TR>

				<TR><TD colspan='2'>&nbsp;</TD></TR>
				
				<TR><TD>Note:</TD><TD>#xdatTextArea("sf:enrollmentStatus/note" $item "" $vr 4 50)</TD></TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR>
			<TD COLSPAN=2 ALIGN=left>
				<input type="submit" name="eventSubmit_doInsert" value="Submit"/>
			</TD>
		</TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">

displayPathologicData($!item.getProperty("sf:enrollmentStatus/pathologicDiagnosis"))
##displayDetailsPriorToEnrollment($!item.getProperty("sf:enrollmentStatus/previouslyTreated"))
##displayRecurrentAtEnrollmentNotes($!item.getProperty("sf:enrollmentStatus/recurrentAtEnrollment"))

function displayPathologicData(pathologicDiagnosisValue) {
	var row1 = document.getElementById("row1");
	var row2 = document.getElementById("row2");
	var row3 = document.getElementById("row3");
	var row4 = document.getElementById("row4");
	var row5 = document.getElementById("row5");
	var row6 = document.getElementById("row6");
	
	var previouslyTreatedValue = document.getElementsByName("sf:enrollmentStatus/previouslyTreated");
	var recurrentAtEnrollmentValue = document.getElementsByName("sf:enrollmentStatus/recurrentAtEnrollment");
	
	if (pathologicDiagnosisValue == 0) {
		row1.style.display = 'none';
		row2.style.display = 'none';
		row3.style.display = 'none';
		row4.style.display = 'none';
		row5.style.display = 'none';
		row6.style.display = 'none';
	} else {
		row1.style.display = '';
		row2.style.display = '';
		row3.style.display = '';
		if (previouslyTreatedValue[0].checked) {
			row4.style.display = '';
		} else{
			row4.style.display = 'none';
		}
		row5.style.display = '';
		if (recurrentAtEnrollmentValue[0].checked) {
			row6.style.display = '';
		} else {
			row6.style.display = 'none';
		}
	}
	

}

function displayDetailsPriorToEnrollment(previouslyTreatedValue) {
	var row4 = document.getElementById("row4");
	
	if (previouslyTreatedValue == 0) {
		row4.style.display = 'none';
	} else {
		row4.style.display = '';
	}
}

function displayRecurrentAtEnrollmentNotes(recurrentAtEnrollmentValue) {
	var row6 = document.getElementById("row6");

	if (recurrentAtEnrollmentValue == 0) {
		row6.style.display = 'none';
	} else {
		row6.style.display = '';
	}
}

</script>