$page.setTitle("DCAPP")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($DCPASS = $item.getStringProperty("DCPASS"))
		<tr>
			<th width="400px">Please indicate below.</th>
			<td>
				$DCPASS 
				#if ($DCPASS == "1")
					- All data queries at this visit have been addressed.
			#end
			</td>
		</tr>
	#set ($DCDATE = $item.getStringProperty("DCDATE"))
		<tr>
			<th width="400px">Approval Date</th>
			<td>
				$!DCDATE
			</td>
		</tr>
	#set ($DCCOMM = $item.getStringProperty("DCCOMM"))
		<tr>
			<th width="400px">Comments:</th>
			<td>
				$!DCCOMM
			</td>
		</tr>

</table>
		</td>
	</tr>
</table>
