$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#set($scanQualities = ["usable","unusable","questionable"])
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<p>
<form id="form1" name="form1" method="post" action="$link.setAction("StoreECATSession")">
#if($vr)
 <DIV class="error">Invalid parameters:<BR>$vr.toHTML()</DIV>
<HR>
#end
<TABLE width="100%">

	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle" colspan="3">
		   <DIV class="edit_title">Archive PET Session</DIV>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="middle" colspan="3">
						&nbsp;
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="middle">
												<font face="$ui.sansSerifFonts" size="3" style="line-height:18px;">Study Type: $!item.getStringProperty("xnat:petSessionData.studyType")</font>
					</TD>
					<TD align="left" valign="middle">
												<font face="$ui.sansSerifFonts" size="3" style="line-height:18px;">Patient ID: $!item.getStringProperty("xnat:petSessionData.patientID")</font>
					</TD>
					<TD align="left" valign="middle">
																		<font face="$ui.sansSerifFonts" size="3" style="line-height:18px;">Date: $!item.getStringProperty("xnat:petSessionData/date") $!item.getStringProperty("xnat:petSessionData/time")</font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<tr>
					<TD>
			#parse("/screens/xnat_edit_subjectAssessorData.vm")
					</TD>
	</tr>
	<tr>
		<td>
		   <DIV class="edit_header1">Enter session details</DIV>
		</td>
	</tr>
	<TR>
		<TD>
			<TABLE bgcolor="#FFFFCC" >
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>Scanner</TD><TD>#xdatStringBox("xnat:petSessionData.scanner" $item "" $vr)</TD></TR>
							<TR><TD>Operator</TD><TD>#xdatStringBox("xnat:petSessionData.operator" $item "" $vr)</TD></TR>
		  <TR>
					<td>Tracer</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.name" $item "" $vr)</td>
					</tr>
													         <TR>
					<td>Transmissions</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.transmissions" $item "" $vr)</td>
					</tr>								        
													         <TR>
					<td>Tracer Dosage</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.dose" $item "" $vr)</td>
					</tr>
													         <TR>
					<td>Tracer Dosage Units</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.dose.units" $item "" $vr)</td>
					</tr>
													         <TR>
					<td>Specific Activity</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.specificActivity" $item "" $vr)</td>
					</tr>
													         <TR>
					<td>Total mass</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.totalMass" $item "" $vr)</td>
					</tr>								         
													         <TR>
					<td>Total mass Units</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.totalMass.units" $item "" $vr)</td>
					</tr>         
													         <TR>
					<td>Intermediate</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.intermediate" $item "" $vr)</td>
					</tr>         
													         <TR>
					<td>Intermediate Units</td>
					  <td>#xdatTextBox("xnat:petSessionData.tracer.intermediate.units" $item "" $vr)</td>
					</tr>    
											</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
<TR>
					<TD align="left" valign="middle">
						<hr/>
					</TD>
				</TR>
	<tr>
		<td>
		   <DIV class="edit_header1">Enter scan details</DIV>
		</td>
	</tr>
				<TR>
					<TD align="left" valign="top">
					<table>
 	#set ($scanCounter= 10)
					 #set($scanCOUNT= $om.getScans_scan().size())
					 #if($scanCOUNT>0)
					 #set($scanCOUNT= $scanCOUNT - 1)
	#set($color = "FFFFCC")
					 #foreach($scan in [0..$scanCOUNT])
 	#set ($scanCounter= $scanCounter + 1)
<TR BGCOLOR="#$color">
					  					#xdatHiddenBox("xnat:petSessionData.scans.scan[$scan].ID" $item "")
					  <th colspan="2" align="left">$!item.getProperty("xnat:petSessionData.scans.scan[$scan].type")</th>
					</tr><TR BGCOLOR="#$color">
					<td>Usability</td>
<td align="left">
		    #xdatSelectBoxWSingleValue("xnat:petSessionData.scans.scan[$scan].quality" $item $scanQualities  $vr)
</td>
					</tr>
<TR BGCOLOR="#$color"><td>Scan Notes:</td><TD><textarea name="xnat:petSessionData.scans.scan[$scan].note" rows="4" cols="50" style="text-align:left;">$!notes</textarea></TD></TR>
					 													#if($color == "FFFFFF")
		#set($color = "FFFFCC")
	#else
		#set($color = "FFFFFF")
	#end
					 #end
					 #end
					</table>
					</TD>
				</TR>
			</TABLE>
<!-- END xnat:petSessionData -->
		</TD>
	</TR>
	<TR>
					<TD align="left" valign="middle">
						<hr/>
					</TD>
				</TR>
	<tr>
		<td>
		   <DIV class="edit_header1">Enter session notes</DIV>
		</td>
	</tr>
				<TR>
					<TD align="left" valign="middle">
						&nbsp;
					</TD>
				</TR>
	
	<tr>
		<td>
			
				
			<TABLE bgcolor="#FFFFCC">
				<TR>
					<TD align="left" valign="top"><textarea name="xnat:petSessionData/note" rows="4" cols="50" style="text-align:left;">$!notes</textarea>
					</td>
				</TR>
			</TABLE>
		</td>
	</tr>
				<TR>
					<TD align="left" valign="middle">
						<hr/>
					</TD>
				</TR>
	<tr>
		<td>
		   <DIV class="edit_header1">Step 5: Review and submit</DIV>
		</td>
	</tr>
				<TR>
					<TD align="left" valign="middle">
						&nbsp;
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left>
			<table width="600">
		<TR>
		<TD>Please review the information you have entered. When you are ready to permantly archive this session, click the 'Submit' button. The initial page submit can take several minutes (please do not resubmit the page) and the overall archiving process takes up to 30 minutes to complete.  You will receive a confirmation email upon its completion.</TD></TR>
		<tr>
		<TD ALIGN="center">
		<DIV ID="ADDIN"></DIV>
		<input type="hidden" name="tag" value="$!tag"/>
		<input ID="form_submit" type="button" ONCLICK="validateForm();" name="eventSubmit_doPerform" value="Submit"/>
		</TD></tr>
	</table>
</TD></TR>
</TABLE>
<INPUT TYPE="hidden" NAME="edit_screen" VALUE="XDATScreen_upload_xnat_petSessionData.vm"/>
<INPUT TYPE="hidden" NAME="destination" VALUE="XDATScreen_report_xnat_petSessionData.vm"/>

		</TD></TR>
		</TD>
	</TR>
</TABLE>
</form>
<script type="text/javascript">
function validateForm()
{
   
   if(document.getElementById("xnat:petSessionData.scanner").value=="")
   {
     document.getElementById("xnat:petSessionData.scanner").focus();
     alert("Please define a scanner.");
     return false;
   }
   
   					 #foreach($scan in [0..$scanCOUNT])
   if(document.getElementById("xnat:petSessionData.scans.scan[$scan].quality").selectedIndex==0)
   {
     document.getElementById("xnat:petSessionData.scans.scan[$scan].quality").focus();
     alert("Please select a usability for each scan.");
     return false;
   }
   					 #end
   
   validateSubjectAssessorForm();
    
   return false;
}
</script>
			