##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<TABLE width="100%" align="left" valign="top" border=0>
	<TR>
		<TD width="450" align="left">
			<h2></h2>
			<TABLE width="100%">
				<TR>
					<TD align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:20px;"><b>CSF</b></font></TD>
				</TR>
			</TABLE>
			#set($part = $om.SubjectData)
	<P><TABLE align="left" width="100%">
		<TR>
			<TD>
				<HR>
				<TABLE align="left">
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Experiment Info</b></font><BR><BR></TH></TR>
					<TR><TH align="left" width=200>Date: </TH><TD>$!item.getProperty("${search_element}.date")</TD></TR>
					<TR><TH align="left">Investigator: </TH><TD>$!item.getProperty("${search_element}.investigator.title") $!item.getProperty("${search_element}.investigator.firstname") $!item.getProperty("${search_element}.investigator.lastname")</TD></TR>
					<TR><TH align="left">Participant: </TH><TD>
					#set($part_id = $!part.getProperty("ID"))
					#set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:subjectData').addPathInfo('search_field','xnat:subjectData.ID').addPathInfo('search_value',$!part_id).addPathInfo('popup','true')', '','600','800');" )
					<A CLASS=b href="#" onClick="$click">$!part.MapOrLab</A></TD></TR>
					<TR align="left"><TH ALIGN="left">Gender: </TH><TD>$part.GenderText</TD></TR>
					#if($!item.getProperty("${search_element}.date"))
					<TR align="left"><TH ALIGN="left">Age:</TH><TD>$!part.getAge($!item.getProperty("${search_element}.date"))</TD></TR>
					#else
					<TR align="left"><TH ALIGN="left">Age:</TH><TD>--</TD></TR>
					#end
				</TABLE>
			</TD>
		</TR>
		<TR>
			<TD>
				<HR>
				<TABLE>
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Details</b></font><BR><BR></TH></TR>
					<TR><TH align="left" width=200>Tau:</TH><TD>$!om.getProperty("tau")</TD></TR>
					<TR><TH align="left" width=200>Ptau:</TH><TD>$!om.getProperty("ptau")</TD></TR>
					<TR><TH align="left" width=200>Ab42:</TH><TD>$!om.getProperty("Ab42")</TD></TR>
					<TR><TH align="left" width=200>Lilly40:</TH><TD>$!om.getProperty("Lilly40")</TD></TR>
					<TR><TH align="left" width=200>Lilly42:</TH><TD>$!om.getProperty("Lilly42")</TD></TR>
				</TABLE>
			</TD>
		</TR>
	</TABLE></P>
		</TD>
		<TD valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>
</TABLE>
			