## DIAN Core Visit Information Data Report Page
## Created: 01/09/2013

$page.setTitle("Core Visit Imformation")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#if ($turbineUtils.GetPassedParameter("popup", $data))
   #set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
   #set ($popup = "false")
#end

## Get Core Visit Information Data
#set ($ASSESSTYPE = $item.getStringProperty("assess_type"))

<style>
#uds_form td, #uds_form th {
   vertical-align:top;
   text-align:left;
}
</style>
<table width="100%">
   <tr><td>
   #parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
   </td>
   <td valign="top" align="right">
   #elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
   </td></tr>
   <tr><td colspan="2">
      <table id="uds_form"  width="600px">
         <tr><th width="200px">Assessment Type</th>
         #if    ($ASSESSTYPE == 'all'       )  <td>All</td>
         #elseif($ASSESSTYPE == 'psych'     )  <td>Psychometric Assessment</td>
         #elseif($ASSESSTYPE == 'imaging'   )  <td>Imaging</td>
         #elseif($ASSESSTYPE == 'genetics'  )  <td>Genetics</td>
         #elseif($ASSESSTYPE == 'biomarkers')  <td>Biomarkers</td>
         #elseif($ASSESSTYPE == 'clinical'  )  <td>Clinical Assessment</td>
         #else                                 <td></td>
         #end
         </tr>
         <tr><th width="200px">Label</th><td>$!item.getStringProperty("dian:coreVisitInfoData/label")</td></tr>
      </table>
   </td></tr>
</table>