<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#set($units = "pg/ml")

<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/yui/build/calendar/calendar-min.js')"></SCRIPT>

<script type="text/javascript">
var elementName="$!item.getXSIType()";
window.currentID="$!om.getId()";
	#if($om.getProject())
	 #if($om.getProject().equals(""))
window.currentProject="$!project";
	 #else
window.currentProject="$!om.getProject()";
	 #end
	#else
window.currentProject="$!project";
	#end

window.currentSubject="$!om.getSubjectId()";
window.currentLabel="$!om.getLabel()";
</script>

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">PLASMA Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							##<TR><TD colspan='2'>
							##	#parse("/screens/xnat_edit_subjectAssessorData.vm")
							##</TD></TR>
							<TR><TD colspan='2'>
  								<input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>               
     								#if($om.getId())
		  							#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
								#else
       									#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
       								#end
							</TD></TR>
							<TR><TD>
							</TD><TD style="font-size:xx-small;font-style:italic">
								The session label is based on subject label/id and visit id.<BR>
								These are generated from the subject id and collection date.
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							##<TR><TD>age</TD><TD>#xdatTextBox("dian:plasmaData/age" $item "" $vr)</TD></TR>
##							<TR><TD><b>Date</b></TD><TD>#xdatDateBox("dian:plasmaData/date" $item $vr $years)</TD></TR>
#*
<tr><td colspan=2>
$subject.getIdentifier($project,true)<br>
$subject.getLabel()<br>
$subject.getId()<br>
</td></tr>
*#
#*
<tr><td colspan=2>
$om.getId()
</td></tr>
*#

## #if ($!item.getProperty("dian:plasmaData/date"))
## #if ($!item.getProperty("dian:bldsampdata/biodate"))
## #if($om.getId())
##								$!turbineUtils.formatDate($!om.getDateProperty("dian:plasmaData/date"),"M/d/yyyy")
##								$!turbineUtils.formatDate($!om.getDateProperty("dian:bldsampdata/biodate"),"M/d/yyyy")
##								<input type="hidden" id="dian:plasmaData/date" name="dian:plasmaData/date" #if($om.getProperty("dian:plasmaData/date")) value='$turbineUtils.formatDate($!om.getDateProperty("dian:plasmaData/date"),"MM/dd/yyyy")' #end />
##								<input type="hidden" id="dian:bldsampdata/biodate" name="dian:bldsampdata/biodate" #if($om.getProperty("dian:bldsampdata/biodate")) value='$turbineUtils.formatDate($!om.getDateProperty("dian:bldsampdata/biodate"),"MM/dd/yyyy")' #end />
##								$om
## #else
							<TR><TD><b>Lab Test Date</b></TD>
							<TD>
								<input type="text" id="dian:plasmaData/date" name="dian:plasmaData/date" #if($om.getProperty("dian:plasmaData/date")) value='$turbineUtils.formatDate($!om.getDateProperty("dian:plasmaData/date"),"MM/dd/yyyy")' #end />
								<script type="text/javascript">
									insertCalendar(document.getElementById("dian:plasmaData/date"),"Date");
								</script>
							
							</TD></TR>
#if(! $om.getId())
							<TR><TD><b>Collection Date</b></TD>
							 <TD>

##								<input type="text" id="dian:plasmaData/date" name="dian:plasmaData/date" #if($om.getProperty("dian:plasmaData/date")) value='$turbineUtils.formatDate($!om.getDateProperty("dian:plasmaData/date"),"MM/dd/yyyy")' #end />
								<input type="text" id="dian:bldsampdata/biodate" name="dian:bldsampdata/biodate" value="" />
								<script type="text/javascript">
##									insertCalendar(document.getElementById("dian:plasmaData/date"),"Date");
									insertCalendar(document.getElementById("dian:bldsampdata/biodate"),"Date");

##									dateElem = document.getElementById("dian:plasmaData/date")
									dateElem = document.getElementById("dian:bldsampdata/biodate")
																			
									if (dateElem.addEventListener)
									{
										dateElem.addEventListener('change', function() {updateDate()}, false);
									}
									else
									{
										dateElem.attachEvent('onchange', function() {updateDate()});
									}
									
									function handleHide(type, args, obj) {
										updateDate();
									}
									
									dateElem.calendar.hideEvent.subscribe(handleHide, dateElem.calendar, true);
								</script>							
							</TD></TR>
#end
														
							##<TR><TD>time</TD><TD>#xdatTextBox("dian:plasmaData/time" $item "" $vr)</TD></TR>
							##<TR><TD>duration</TD><TD>#xdatTextBox("dian:plasmaData/duration" $item "" $vr)</TD></TR>
							##<TR><TD>delay</TD><TD>#xdatTextBox("dian:plasmaData/delay" $item "" $vr)</TD></TR>
							##<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("dian:plasmaData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							##<TR><TD>note</TD><TD>#xdatStringBox("dian:plasmaData/note" $item "" $vr)</TD></TR>
							##<TR><TD>acquisition_site</TD><TD>#xdatStringBox("dian:plasmaData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD><b>Visit ID</b></TD>
								<TD>
									<div id="selectVisitDiv" style="height:100%">$!item.getProperty("dian:plasmaData/visit_id")</div>
									<input type="hidden" id="dian:plasmaData/visit_id" name="dian:plasmaData/visit_id" value="$!item.getProperty('dian:plasmaData/visit_id')">									
									<input type="hidden" name="dian:plasmaData/bldCollSess" id="dian:plasmaData/bldCollSess" value="$om.getProperty('dian:plasmaData/bldCollSess')">
								</TD>
							</TR>
							<TR><TD><b>Ab40</b></TD>
								<TD>
									#xdatTextBox("dian:plasmaData/Ab40" $item "" $vr) $!{units}
									<input type="hidden" name="dian:plasmaData/Ab40Units" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>Ab40 Units</b></TD><TD>#xdatStringBox("dian:plasmaData/Ab40Units" $item "" $vr)</TD></TR>
							<TR><TD><b>Ab42</b></TD>
								<TD>
									#xdatTextBox("dian:plasmaData/Ab42" $item "" $vr) $!{units}
									<input type="hidden" name="dian:plasmaData/Ab42Units" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>Ab42 Units</b></TD><TD>#xdatStringBox("dian:plasmaData/Ab42Units" $item "" $vr)</TD></TR>
							<TR><TD><b>Abx40</b></TD>
								<TD>
									#xdatTextBox("dian:plasmaData/Abx40" $item "" $vr) $!{units}
									<input type="hidden" name="dian:plasmaData/Abx40Units" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>Abx40 Units</b></TD><TD>#xdatStringBox("dian:plasmaData/Abx40Units" $item "" $vr)</TD></TR>
							<TR><TD><b>Abx42</b></TD>
								<TD>
									#xdatTextBox("dian:plasmaData/Abx42" $item "" $vr) $!{units}
									<input type="hidden" name="dian:plasmaData/Abx42Units" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>Abx42 Units</b></TD><TD>#xdatStringBox("dian:plasmaData/Abx42Units" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
##	<TR>
##		<TD>
		<TR><TD COLSPAN=2 ALIGN=left>
		#xdatEditProps($item $edit_screen)
		<input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/>
		</TD></TR>
##		</TD>
##	</TR>
</TABLE>
</form>

#if($subject.getIdentifier($project,true))
	#set($subjectTitle = $subject.getIdentifier($project,true))
#elseif($subject.getLabel())
	#set($subjectTitle = $subject.getLabel())
#elseif($subject)
	#set($subjectTitle = $subject.getId())
#else
	#set($subjectTitle = "N/A")
#end

<script type="text/javascript">
var bldSampData = new Object();
var visitIdArray = new Object();
var bldSampDataContents;

document.getElementById("dian:plasmaData/label").readOnly=true;

function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   //validateSubjectAssessorForm();
   //return false;
   
   if (document.getElementById("dian:plasmaData/label").value == "")
   {
   	alert("A session label is required. Please select a valid date to generate a label.");
   	return false;
   }
   else
   {
   	document.getElementById("form1").submit();
   	return true;
   }
}

function getDate(sessionLabel)
{
	this.getSessionLabelCallback={
		cache:false,
		success:this.getSessionLabelFound,
		failure:this.getSessionLabelFailed,
		scope:this
	}

##		restURL = "/REST/experiments?xsiType=dian:bldSampData&columns=visit_id,date,label&date=" + plasmaDate + "&format=json"
##	restURL = "/REST/experiments?xsiType=dian:bldSampData&columns=visit_id,dian:bldsampdata/biodate,label&dian:bldsampdata/biodate=" + plasmaDate + "&format=json"
	restURL = "/REST/experiments?label=" + sessionLabel + "&columns=visit_id,dian:bldsampdata/biodate,label&dian:bldsampdata/biodate=" + plasmaDate + "&format=json"

	YAHOO.util.Connect.asyncRequest('GET',serverRoot + restURL,this.getSessionLabelCallback,null,this);
}




function updateDate()
{
	this.updateDateCallback={
		cache:false,
		success:this.bldSampDataFound,
		failure:this.bldSampDataFailed,
		scope:this
	}

##	plasmaDate = document.getElementById("dian:plasmaData/date").value;
	plasmaDate = document.getElementById("dian:bldsampdata/biodate").value;

	if (plasmaDate != "")
	{
##		restURL = "/REST/experiments?xsiType=dian:bldSampData&columns=visit_id,date,label&date=" + plasmaDate + "&format=json"
		restURL = "/REST/experiments?xsiType=dian:bldSampData&columns=visit_id,dian:bldsampdata/biodate,label&dian:bldsampdata/biodate=" + plasmaDate + "&subject_ID=$subject.getId()&format=json"
		
		YAHOO.util.Connect.asyncRequest('GET',serverRoot + restURL,this.updateDateCallback,null,this);
	}
	else
	{
		alert("Error: Date field is empty.");
	}		
}

function bldSampDataFound(o)
{
	try {
		jsonResponse = YAHOO.lang.JSON.parse(o.responseText);
	}
	catch (x)
	{
		alert("Error: Unable to load bldSampData data."); 
		return; 
	}
	
	contents=jsonResponse.ResultSet.Result

	bldSampDataContents = contents;

	buildSelectVisit(contents);
}

function bldSampDataFailed(o)
{
	alert("Error: Failed to find bldSampData matching provided date.");
}

function buildSelectVisit(contents)
{
 	clearChildren("selectVisitDiv");
 
	var selectVisitDiv = document.getElementById("selectVisitDiv");
	
#if ($!subject.getLabel())
	var subjectLabel = "$!subject.getLabel()";
#else
	subjectElem = document.getElementById("dian:plasmaData/subject_id")
	if (subjectElem.addEventListener)
	{
		subjectElem.addEventListener('change', function() {buildSelectVisit(bldSampDataContents)}, false);
	}
	else
	{
		subjectElem.attachEvent('onchange', function() {buildSelectVisit(bldSampDataContents)});
	}
	
	var subjectLabel = "";
	
	for (i=0; i < subjectElem.options.length; i++)
	{
		if (subjectElem.options[i].selected)
		{
			if (subjectElem.options[i].value != "")
				subjectLabel = subjectElem.options[i].text;
			break;
		}	
	}
 
#end
	if (subjectLabel == "")
	{
		selectVisitDiv.innerHTML = "<font color='red' size='2'>No subject selected.</font>";
		document.getElementById("dian:plasmaData/label").value="";
		document.getElementById("dian:plasmaData/bldCollSess").value = "";
		document.getElementById("dian:plasmaData/visit_id").value = "";
	}
	else if (contents.length == 1 && contents[0]["visit_id"] != "")
	{
		selectVisitDiv.innerHTML = contents[0]["visit_id"];

		document.getElementById("dian:plasmaData/label").value = subjectLabel + "_" + contents[0]["visit_id"] + "_plasma";
##		document.getElementById("dian:plasmaData/bldCollSess").value = contents[0]["dian:bldsampdata/id"];
		document.getElementById("dian:plasmaData/bldCollSess").value = contents[0]["dian:bldsampdata/label"];
		document.getElementById("dian:plasmaData/visit_id").value = contents[0]["visit_id"];
	}
	else if (contents.length > 1)
	{
		var selectOptions = new Array();
		var selectId = "selectVisitId";
		selectIndex = 0;
		
		for (i=0; i < contents.length; i++)
		{
			if (contents[i]["visit_id"] != "")
			{
				selectOptions[selectIndex] = new Array();
				selectOptions[selectIndex][0] = subjectLabel + "_" + contents[i]["visit_id"] + "_plasma";
				selectOptions[selectIndex][1] = contents[i]["visit_id"] + " (" + contents[i]["label"] + ")";
##				bldSampData[subjectLabel + "_" + contents[i]["visit_id"] + "_plasma"] = contents[i]["dian:bldsampdata/id"]
				bldSampData[subjectLabel + "_" + contents[i]["visit_id"] + "_plasma"] = contents[i]["dian:bldsampdata/label"]
				visitIdArray[subjectLabel + "_" + contents[i]["visit_id"] + "_plasma"] = contents[i]["visit_id"]
				selectIndex++;
			}
		}
		
		selectElem = buildDropDown(selectId, selectOptions);
		
		if (selectElem.addEventListener)
		{
			selectElem.addEventListener('change', function() {selectVisit(this.id)}, false);
		}
		else
		{
			selectElem.attachEvent("onchange", function() {selectVisit(this.id)})
		}

		selectVisitDiv.appendChild(selectElem);
		
		selectVisit(selectId)
	}
	else
	{
		selectVisitDiv.innerHTML = "<font color='red' size='2'>No matching experiment found.</font>";
		document.getElementById("dian:plasmaData/label").value="";
		document.getElementById("dian:plasmaData/bldCollSess").value = "";
		document.getElementById("dian:plasmaData/visit_id").value = "";
	} 
}

function buildDropDown(id, contentArray)
{
	var dropDownElem = document.createElement('select');
	dropDownElem.id = id;
	
	for (i=0; i < contentArray.length; i++)
	{
		var optionElem = document.createElement('option');
		optionElem.value=contentArray[i][0];
		optionElem.text=contentArray[i][1];
		##dropDownElem.appendChild(optionElem);
		
		try {
			dropDownElem.add(optionElem, null); // Standards compliant.
		} catch (e) {
			dropDownElem.add(optionElem);      // IE only version.
		}
	}
	
	
	return dropDownElem;
}

function clearChildren(elementId)
{	
	element = document.getElementById(elementId);
	while(element.hasChildNodes())
	{
		element.removeChild(element.firstChild);
	}
}

function selectVisit(selectId)
{
	document.getElementById("dian:plasmaData/label").value = document.getElementById(selectId).value
	document.getElementById("dian:plasmaData/bldCollSess").value = bldSampData[document.getElementById(selectId).value];
	document.getElementById("dian:plasmaData/visit_id").value = visitIdArray[document.getElementById(selectId).value];
}


</script>
