$page.setTitle("ROSTER")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($SITE = $item.getStringProperty("SITE"))
	#if ( "-4" != $SITE )
		<tr>
			<th width="400px">Current Site</th>
			<td>
				$SITE 
				#if ($SITE == "010")
					- 10 - Columbia University (CPMC)
				#elseif ($SITE == "011")
					- 11 - Washington University, St. Louis (WASHU)
				#elseif ($SITE == "035")
					- 35 - University of California, Los Angeles (UCLA)
				#elseif ($SITE == "037")
					- 37 - Indiana University (INDY)
				#elseif ($SITE == "094")
					- 94 - Brigham and Women's Hospital (BWH)
				#elseif ($SITE == "941")
					- 941 - Butler Hospital Memory and Aging Program (BHMAP)
				#elseif ($SITE == "950")
					- 950 - Prince of Wales Medical Research Institute, Sydney (UNSW-Sydney
				#elseif ($SITE == "951")
					- 951 - University of Melbourne (UOM-Melbourne)
				#elseif ($SITE == "952")
					- 952 - Edith Cowan University, Perth (ECU-Perth)
				#elseif ($SITE == "953")
					- 953 - University College London (UCL - London)
			#end
			</td>
		</tr>
	#end
	#set ($SCRNO = $item.getStringProperty("SCRNO"))
	#if ( "-4" != $SCRNO )
		<tr>
			<th width="400px">DIAN ID</th>
			<td>
				$!SCRNO
			</td>
		</tr>
	#end
	#set ($TYPE = $item.getStringProperty("TYPE"))
	#if ( "-4" != $TYPE )
		<tr>
			<th width="400px">Type</th>
			<td>
				$TYPE 
				#if ($TYPE == "dp")
					- DIAN Participant
				#elseif ($TYPE == "cs")
					- Collateral Source
				#elseif ($TYPE == "pm")
					- Pedigree Member
				#elseif ($TYPE == "np")
					- Non-participant
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
