$page.setTitle("B8EVAL")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Exam Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($NORMAL = $item.getStringProperty("NORMAL"))
	#if ( "-4" != $NORMAL )
		<tr>
			<th width="400px">Are all findings unremarkable (normal or normal for age)?</th>
			<td>
				$NORMAL 
				#if ($NORMAL == "1")
					- Yes
				#elseif ($NORMAL == "0")
					- No
				#elseif ($NORMAL == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($FOCLDEF = $item.getStringProperty("FOCLDEF"))
	#if ( "-4" != $FOCLDEF )
		<tr>
			<th width="400px">Are focal deficits present indicative of central nervous system disorder?</th>
			<td>
				$FOCLDEF 
				#if ($FOCLDEF == "1")
					- Yes
				#elseif ($FOCLDEF == "0")
					- No
				#elseif ($FOCLDEF == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($GAITDIS = $item.getStringProperty("GAITDIS"))
	#if ( "-4" != $GAITDIS )
		<tr>
			<th width="400px">Is gait disorder present indicative of central nervous system disorder?</th>
			<td>
				$GAITDIS 
				#if ($GAITDIS == "1")
					- Yes
				#elseif ($GAITDIS == "0")
					- No
				#elseif ($GAITDIS == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($EYEMOVE = $item.getStringProperty("EYEMOVE"))
	#if ( "-4" != $EYEMOVE )
		<tr>
			<th width="400px">Are there eye movement abnormalities present indicative of central nervous system disorder?</th>
			<td>
				$EYEMOVE 
				#if ($EYEMOVE == "1")
					- Yes
				#elseif ($EYEMOVE == "0")
					- No
				#elseif ($EYEMOVE == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
