##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<TABLE width="100%" align="left" valign="top" border=0>
	<TR>
		<TD width="450" align="left">
			<h2></h2>
			<TABLE width="100%">
				<TR>
					<TD align="left"><font face="$ui.sansSerifFonts" size="4"><b>Volumetry</b></font></TD>
				</TR>
			</TABLE>
			
	<P><TABLE align="left" width="100%" border=0>
		<TR>
			<TD>
				<HR>
				<TABLE align="left">
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Experiment Info</b></font><BR><BR></TH></TR>
							#parse($turbineUtils.getTemplateName("_summary",$om.getXSIType(),$project))
				</TABLE>
			</TD>
		</TR>
		<TR>
			<TD>
				<HR>
				<TABLE border=0 WIDTH=100%>
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Details</b></font><BR><BR></TH></TR>
					#foreach ($codeArray in $om.getAllCodes())
						#set ($region = $om.getVolumetryRegionByName($codeArray.get(0),$codeArray.get(1)))
						#if ($region)
							<TR><TH align="left" width=200>$codeArray.get(0) $codeArray.get(1):</TH><TD>$region.VolumeDisplay</TD></TR>
						#else
							<TR><TH align="left" width=200>$codeArray.get(0) $codeArray.get(1):</TH><TD>N/A</TD></TR>
						#end
					#end 
				</TABLE>
				
				<HR>
				<TABLE border=0 WIDTH=100%>
					<TR><TH align="left" colspan=2><font face="$ui.sansSerifFonts" size="3"><b>Scans</b></font><BR></TH></TR>
					#foreach ($codeArray in $om.getAllCodes())
						<TR><TH align="left" colspan=2><BR><font face="$ui.sansSerifFonts" size="2"><b>$codeArray.get(0) $codeArray.get(1)</b></font></TH></TR>
						#set ($region = $om.getVolumetryRegionByName($codeArray.get(0),$codeArray.get(1)))
						#if ($region)
							<TR><TD COLSPAN=2>
								<TABLE border=0 WIDTH=100% cellspacing="0" cellpadding="0">
								<TR><TH STYLE="border-bottom-width:2px;border-bottom-color:rgb(255,153,51);border-bottom-style:solid;">Slice</TH>
								<TH STYLE="border-bottom-width:2px;border-bottom-color:rgb(255,153,51);border-bottom-style:solid;">Area</TH>
								<TH STYLE="border-bottom-width:2px;border-bottom-color:rgb(255,153,51);border-bottom-style:solid;">Voxels</TH>
								<TH STYLE="border-bottom-width:2px;border-bottom-color:rgb(255,153,51);border-bottom-style:solid;">Volume</TH></TR>
								#set ($rowCount = 1)
								#set ($slices = $region.VolumetryRegionSlicesCount - 1)
								#foreach ($c in $region.getSlice())
								    <TR><TD>$rowCount</TD><TD>$!c.getAreaDisplay()</TD><TD>$!c.getProperty("voxels")</TD><TD>$!c.getVolumeDisplay()</TD></TR>
								    #set ($rowCount = $rowCount + 1)
								#end
								<TR>
								<TD COLSPAN=2>Total Voxels: $!region.getProperty("voxels")</TD>
								<TD COLSPAN=2>Cavalieri Volume: $!region.getVolumeDisplay()</TD></TR>
								</TABLE>
							</TD></TR>
						#else
							<TR><TD COLSPAN=2>N/A</TD></TR>
						#end
						<TR><TD COLSPAN=2></TD></TR>
					#end 
				</TABLE>
			</TD>
		</TR>
	</TABLE></P>
		</TD>
		<TD valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</TD>
	</TR>
</TABLE>