$page.setTitle("EXERCISE")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	<tr>
		<th colspan="2">This document should be completed by the participant with input and/or verification by the collateral source.<p>During the past year what was your average time in minutes per week spent at each of the following recreational activities?</th>
	</tr>	#set ($WALK = $item.getStringProperty("WALK"))
	#if ( "-4" != $WALK )
		<tr>
			<th width="400px" style="padding-left:20px;">Walking for exercise or walking to work</th>
			<td>
				$!WALK
			</td>
		</tr>
	#end
	#set ($JOG = $item.getStringProperty("JOG"))
	#if ( "-4" != $JOG )
		<tr>
			<th width="400px" style="padding-left:20px;">Jogging</th>
			<td>
				$!JOG
			</td>
		</tr>
	#end
	#set ($RUN = $item.getStringProperty("RUN"))
	#if ( "-4" != $RUN )
		<tr>
			<th width="400px" style="padding-left:20px;">Running</th>
			<td>
				$!RUN
			</td>
		</tr>
	#end
	#set ($BIKE = $item.getStringProperty("BIKE"))
	#if ( "-4" != $BIKE )
		<tr>
			<th width="400px" style="padding-left:20px;">Bicycling</th>
			<td>
				$!BIKE
			</td>
		</tr>
	#end
	#set ($TENNIS = $item.getStringProperty("TENNIS"))
	#if ( "-4" != $TENNIS )
		<tr>
			<th width="400px" style="padding-left:20px;">Tennis, squash, racquetball</th>
			<td>
				$!TENNIS
			</td>
		</tr>
	#end
	#set ($SWIM = $item.getStringProperty("SWIM"))
	#if ( "-4" != $SWIM )
		<tr>
			<th width="400px" style="padding-left:20px;">Lap swimming</th>
			<td>
				$!SWIM
			</td>
		</tr>
	#end
	#set ($AEROBICS = $item.getStringProperty("AEROBICS"))
	#if ( "-4" != $AEROBICS )
		<tr>
			<th width="400px" style="padding-left:20px;">Other aerobic exercise</th>
			<td>
				$!AEROBICS
			</td>
		</tr>
	#end
	#set ($LOWINT = $item.getStringProperty("LOWINT"))
	#if ( "-4" != $LOWINT )
		<tr>
			<th width="400px" style="padding-left:20px;">Lower intensity exercise</th>
			<td>
				$!LOWINT
			</td>
		</tr>
	#end
	#set ($VIGOROUS = $item.getStringProperty("VIGOROUS"))
	#if ( "-4" != $VIGOROUS )
		<tr>
			<th width="400px" style="padding-left:20px;">Other vigorous activities</th>
			<td>
				$!VIGOROUS
			</td>
		</tr>
	#end
	#set ($WEIGHT = $item.getStringProperty("WEIGHT"))
	#if ( "-4" != $WEIGHT )
		<tr>
			<th width="400px" style="padding-left:20px;">Weight training</th>
			<td>
				$!WEIGHT
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
