$page.setTitle("B6BEVGDS")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Exam Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($GDS = $item.getStringProperty("GDS"))
	#if ( "-4" != $GDS )
		<tr>
			<th width="400px">Total GDS Score</th>
			<td>
				$GDS 
				#if ($GDS == "maximum score")
					-  15
				#elseif ($GDS == "did not complete")
					-  88
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
